In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("crime.csv", encoding="latin1")

In [5]:
# filling " " in reporting area into nan
df["REPORTING_AREA"] = df["REPORTING_AREA"].replace(" ", np.nan)
df["REPORTING_AREA"] = df["REPORTING_AREA"].replace("0", np.nan)

In [6]:
df.shape

(313637, 10)

In [7]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
0,I182070945,619,Larceny,D14,808,02-09-2018 13:00,LINCOLN ST,42.357791,-71.139371,LARCENY OTHER $200 & OVER
1,I182070885,619,Larceny,B3,456,03-09-2018 17:17,ELLINGTON ST,42.301546,-71.081182,LARCENY OTHER $200 & OVER
2,I182070816,619,Larceny,C6,185,03-09-2018 12:45,MASSACHUSETTS AVE,42.321987,-71.062807,LARCENY OTHER $200 & OVER
3,I182070777,619,Larceny,C11,388,23-08-2018 13:34,ADAMS ST,42.272306,-71.067214,LARCENY OTHER $200 & OVER
4,I182070707,619,Larceny,D14,782,02-09-2018 23:12,GORDON ST,42.352935,-71.140501,LARCENY OTHER $200 & OVER

In [8]:
df.isna().any(axis=1).sum()

22157

In [9]:
dup=df[df.duplicated()]
dup.to_csv("Duplicates.csv",index=False)
dup

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
21123,I142049917-00,1402,Vandalism,C11,395,03-09-2015 13:00,DORCHESTER AVE,42.285260,-71.064441,VANDALISM
48820,I120470733-00,724,Auto Theft,C6,205,23-09-2016 19:15,A ST,42.346953,-71.051127,AUTO THEFT
122550,I130041200-00,522,Residential Burglary,B3,428,07-12-2015 11:38,DIXWELL ST,42.314334,-71.097914,B&E RESIDENCE DAY - NO FORCE
153665,I142020701-00,802,Simple Assault,C11,337,14-10-2015 01:00,COLUMBIA RD,42.306451,-71.077304,ASSAULT & BATTERY
153671,I120189428-00,802,Simple Assault,E13,303,09-12-2015 18:35,AMORY ST,42.318245,-71.101268,ASSAULT & BATTERY
174541,I142016089-00,613,Larceny,C11,388,10-10-2015 09:30,DORCHESTER AVE,42.278399,-71.066363,LARCENY SHOPLIFTING $200 & OVER
187622,I152030570-00,3125,Warrant Arrests,E13,303,29-10-2016 08:25,W WALNUT PARK,42.317207,-71.098799,WARRANT ARREST
187626,I152026488-00,3125,Warrant Arrests,A1,105,31-01-2017 10:00,FRUIT ST,42.362403,-71.069547,WARRANT ARREST
187637,I152004688-00,3125,Warrant Arrests,A1,120,19-07-2016 12:50,BOYLSTON ST,42.352418,-71.065255,WARRANT ARREST
187645,I142060752-00,3125,Warrant Arrests,B2,280,11-12-2015 12:50,DUDLEY ST,42.328726,-71.083822,WARRANT ARREST
187666,I142025900-00,3125,Warrant Arrests,E13,577,01-12-2015 18:00,AMORY ST,42.317713,-71.101805,WARRANT ARREST
187674,I142017108-00,3125,Warrant Arrests,A1,64,16-06-2015 15:55,FRUIT ST,42.362403,-71.069547,WARRANT ARREST
187677,I142014620-00,3125,Warrant Arrests,A1,112,18-08-2015 01:10,WASHINGTON ST,42.354564,-71.061474,WARRANT ARREST
187692,I140056633-00,3125,Warrant Arrests,A1,64,16-06-2015 15:55,FRUIT ST,42.362403,-71.069547,WARRANT ARREST
187696,I140039570-00,3125,Warrant Arrests,A1,103,28-09-2015 11:15,WASHINGTON ST,42.356486,-71.059281,WARRANT ARREST
187698,I140036361-00,3125,Warrant Arrests,E5,680,10-07-2015 10:15,CORINTH ST,42.286369,-71.130055,WARRANT ARREST
187708,I130371627-00,3125,Warrant Arrests,B2,318,02-10-2015 21:00,HOMESTEAD ST,42.311277,-71.089093,WARRANT ARREST
187713,I130202615-00,3125,Warrant Arrests,B2,587,03-08-2015 17:23,BURNEY ST,42.331496,-71.099791,WARRANT ARREST
187716,I130041200-00,3125,Warrant Arrests,B3,428,07-12-2015 11:38,DIXWELL ST,42.314334,-71.097914,WARRANT ARREST
187732,I110177502-00,3125,Warrant Arrests,B2,318,02-10-2015 21:00,HOMESTEAD ST,42.311277,-71.089093,WARRANT ARREST
187737,I090321958-00,3125,Warrant Arrests,C11,355,01-02-2016 01:43,GENEVA AVE,NaN,NaN,WARRANT ARREST
189070,I142017108-00,1841,Drug Violation,A1,64,16-06-2015 15:55,FRUIT ST,42.362403,-71.069547,DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP
198432,I130731947-00,2405,Disorderly Conduct,D4,172,22-07-2015 22:00,MASSACHUSETTS AVE,42.333391,-71.073120,DISORDERLY PERSON
207504,I130194606-00,617,Larceny,D4,136,02-02-2016 19:30,COMMONWEALTH AVE,42.351153,-71.081614,LARCENY IN A BUILDING $200 & OVER
231238,I152026775-00,3115,Investigate Person,C6,936,19-10-2015 16:04,ORTON-MAROTTA WAY,42.338573,-71.055755,INVESTIGATE PERSON
241241,I152006153-00,1849,Drug Violation,C6,179,16-09-2015 11:30,MASSACHUSETTS AVE,42.332531,-71.072130,"DRUGS - POSS CLASS B - COCAINE, ETC."
241248,I140346143-00,1849,Drug Violation,E18,490,07-01-2017 20:00,AMERICAN LEGION HWY,42.275313,-71.115878,"DRUGS - POSS CLASS B - COCAINE, ETC."
246721,I142033219-00,1842,Drug Violation,D4,171,04-01-2016 17:20,HARRISON AVE,42.335119,-71.074917,"DRUGS - POSS CLASS A - HEROIN, ETC."
262473,I142060752-00,2610,Other,B2,280,11-12-2015 12:50,DUDLEY ST,42.328726,-71.083822,TRESPASSING
262479,I130731947-00,2610,Other,D4,172,22-07-2015 22:00,MASSACHUSETTS AVE,42.333391,-71.073120,TRESPASSING
294669,I152000618-00,1503,Firearm Violations,B2,308,20-07-2015 18:48,BOWER ST,42.319968,-71.087150,FIREARM/WEAPON - POSSESSION OF DANGEROUS
297483,I152041086-00,2407,Disorderly Conduct,A1,111,17-08-2015 13:00,BOYLSTON ST,42.352368,-71.064543,ANNOYING AND ACCOSTIN

In [10]:
df.drop_duplicates(inplace=True)

df.reset_index(drop=True,inplace=True)

In [11]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19614
OCCURRED_ON_DATE          0
STREET                10505
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [12]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'DISTRICT',
       'REPORTING_AREA', 'OCCURRED_ON_DATE', 'STREET', 'Lat', 'Long', 'NAME'],
      dtype='object')

In [13]:
# for street, coord_list in {
#     i: df[
#         (df["STREET"] == i) &
#         df["Lat"].notna() &
#         df["Long"].notna()
#     ][["Lat", "Long"]]
#     .drop_duplicates()
#     .apply(tuple, axis=1)
#     .tolist()
#     for i in df[df["STREET"].notna()]["STREET"].unique().tolist()
# }.items():

#     for lat, lon in coord_list:
#         df.loc[
#             (df["STREET"].isna()) &
#             (df["Lat"] == lat) &
#             (df["Long"] == lon),
#             "STREET"
#         ] = street
                                                       #   or
street_to_coords = {
    street: df[
        (df["STREET"] == street) &
        df["Lat"].notna() &
        df["Long"].notna()
    ][["Lat", "Long"]]
    .drop_duplicates()
    .apply(tuple, axis=1)
    .tolist()
    for street in df[df["STREET"].notna()]["STREET"].unique()
}

In [14]:
# for i,j in {i:[df[(df["STREET"]==i) & (df["Lat"].notna()) & (df["Long"].notna())]["Lat"].unique().tolist(),df[(df["STREET"]==i) & (df["Lat"].notna()) & (df["Long"].notna())]["Long"].unique().tolist() ]for i in df[df["STREET"].notna()]['STREET'].unique().tolist()}.items():
#     for k in j:
#         df.loc[(df["STREET"].isna()) & (df["Lat"].isin(k[0])) & (df["Long"].isin(k[1])),"STREET"]=i

In [15]:
for street, coord_list in street_to_coords.items():
    for lat, lon in coord_list:
        df.loc[
            (df["STREET"].isna()) &
            (df["Lat"] == lat) &
            (df["Long"] == lon),
            "STREET"
        ] = street

In [16]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19614
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [17]:
SR=df[(df["STREET"].notna()) & (df["REPORTING_AREA"].notna()) ].groupby(["STREET"])["REPORTING_AREA"].unique().to_dict()

In [18]:
SR

{' ALBANY ST ': array(['171'], dtype=object),
 ' BLUE HILL AVE ': array(['324'], dtype=object),
 ' COLUMBUS AVE ': array(['284'], dtype=object),
 ' COMMONWEALTH AVE ': array(['796'], dtype=object),
 ' MASSACHUSETTS AVE ': array(['179'], dtype=object),
 '0 BURRELL': array(['282'], dtype=object),
 '0 MASS AVE': array(['284'], dtype=object),
 '00 CENTRE ST': array(['714'], dtype=object),
 '00 MASS AVE': array(['177'], dtype=object),
 '12 BREED ST': array(['10'], dtype=object),
 '1307 COMMONWEALTH AVE': array(['794'], dtype=object),
 '150 1': array(['231'], dtype=object),
 '5 BEACON ST': array(['102'], dtype=object),
 '54': array(['257'], dtype=object),
 '55 FAYWOOD AVE': array(['2'], dtype=object),
 '6 AVE SE': array(['797'], dtype=object),
 '8 NEWBURG ST': array(['682'], dtype=object),
 'A ST': array(['522', '205', '200', '204', '199', '206'], dtype=object),
 'ABBOT ST': array(['444', '441'], dtype=object),
 'ABBOTSFORD ST': array(['316', '307'], dtype=object),
 'ABBY RD': array(['806'], dtype=object),
 'ABERDEEN ST': array(['629'], dtype=object),
 'ACADEMY CT': array(['304'], dtype=object),
 'ACADEMY HILL RD': array(['771', '772', '939'], dtype=object),
 'ACADEMY RD': array(['304'], dtype=object),
 'ACADEMY TER': array(['304'], dtype=object),
 'ACADIA ST': array(['223'], dtype=object),
 'ACHORN CIR': array(['649'], dtype=object),
 'ACKLEY PL': array(['574'], dtype=object),
 'ACORN ST': array(['70'], dtype=object),
 'ADA ST': array(['556', '561'], dtype=object),
 'ADAIR RD': array(['759'], dtype=object),
 'ADAMS ST': array(['388', '340', '355', '346', '364', '352', '351', '387', '354',
        '350', '390', '367', '347', '349', '268', '391', '365', '345',
        '57', '267', '406', '366', '379', '389', '393', '339', '378', '40',
        '363', '392', '571', '542', '200'], dtype=object),
 'ADAMS TER': array(['364'], dtype=object),
 'ADAMSON ST': array(['809'], dtype=object),
 'ADANAC TER': array(['393'], dtype=object),
 'ADDELAIDE PL': array(['739'], dtype=object),
 'ADDINGTON RD': array(['739', '742'], dtype=object),
 'ADDISON ST': array(['12'], dtype=object),
 'ADELAIDE ST': array(['637', '636'], dtype=object),
 'ADELAIDE TER': array(['637'], dtype=object),
 'ADELLA PL': array(['795'], dtype=object),
 'ADRIAN ST': array(['324'], dtype=object),
 'AGASSIZ RD': array(['617', '618'], dtype=object),
 'AGAWAM ST': array(['368'], dtype=object),
 'AGNES AVE': array(['488', '487'], dtype=object),
 'AGUADILLA ST': array(['158', '157'], dtype=object),
 'AINSLEY ST': array(['367'], dtype=object),
 'AINSWORTH ST': array(['676', '675'], dtype=object),
 'AIRPORT RD': array(['36'], dtype=object),
 'AKRON PL': array(['294'], dtype=object),
 'AKRON ST': array(['294'], dtype=object),
 'AL ZWIERCAN WAY': array(['186'], dtype=object),
 'ALABAMA ST': array(['471', '470', '473', '474', '469'], dtype=object),
 'ALAMEDA RD': array(['692'], dtype=object),
 'ALARIC ST': array(['719'], dtype=object),
 'ALARIC TER': array(['719'], dtype=object),
 'ALASKA ST': array(['265', '177'], dtype=object),
 'ALBAN ST': array(['401', '397', '185', '402'], dtype=object),
 'ALBANO ST': array(['680', '679', '559'], dtype=object),
 'ALBANY ST': array(['171', '172', '269', '462', '162', '167', '270', '268', '175',
        '165', '904', '179', '278', '637', '124', '153', '391', '216',
        '169', '168', '210', '186'], dtype=object),
 'ALBEMARLE CT': array(['145', '531'], dtype=object),
 'ALBEMARLE ST': array(['531', '145'], dtype=object),
 'ALBERT ST': array(['588', '911'], dtype=object),
 'ALBERTA ST': array(['709', '720'], dtype=object),
 'ALBION PL': array(['52'], dtype=object),
 'ALBION ST': array(['182', '512', '255'], dtype=object),
 'ALBRIGHT ST': array(['742'], dtype=object),
 'ALCOTT ST': array(['816', '815'], dtype=object),
 'ALDER ST': array(['681'], dtype=object),
 'ALDIE ST': array(['809', '815'], dtype=object),
 'ALDO TER': array(['516'], dtype=object),
 'ALDRICH ST': array(['687', '686'], dtype=object),
 'ALDWIN RD': array(['564'], dtype=object),
 'ALDWORTH ST': array(['644', '649'], dtype=object),
 'ALEXANDER ST': array(['259', '183'], dtype=object),
 'ALFORD ST': array(['49', '37', '48'], dtype=object),
 'ALFRED ST': array(['645'], dtype=object),
 'ALGER ST': array(['174'], dtype=object),
 'ALGONQUIN ST': array(['453'], dtype=object),
 'ALHAMBRA RD': array(['696'], dtype=object),
 'ALICIA RD': array(['403'], dtype=object),
 'ALKYRIS RD': array(['712'], dtype=object),
 'ALLANDALE RD': array(['658', '656'], dtype=object),
 'ALLANDALE ST': array(['656', '658', '657'], dtype=object),
 'ALLEGHANY ST': array(['586', '587', '603'], dtype=object),
 'ALLEN RD': array(['761'], dtype=object),
 'ALLEN ST': array(['523', '561'], dtype=object),
 'ALLENWOOD ST': array(['698'], dtype=object),
 'ALLERTON ST': array(['178', '181', '179'], dtype=object),
 'ALLEYNE ST': array(['706'], dtype=object),
 'ALLSTATE': array(['186'], dtype=object),
 'ALLSTATE RD': array(['186', '276'], dtype=object),
 'ALLSTON ST': array(['361', '791', '45', '362', '794', '795', '793', '792', '359', '54'],
       dtype=object),
 'ALMONT ST': array(['472', '469', '470', '468'], dtype=object),
 'ALNA PL': array(['34'], dtype=object),
 'ALPHA RD': array(['359'], dtype=object),
 'ALPHEUS RD': array(['547', '548'], dtype=object),
 'ALPINE PL': array(['294'], dtype=object),
 'ALPINE ST': array(['485', '294', '282', '320'], dtype=object),
 'ALTHEA ST': array(['363', '364'], dtype=object),
 'ALTHER ST': array(['179'], dtype=object),
 'ALVAH KITTREDGE PARK': array(['291'], dtype=object),
 'ALVAN TER': array(['241'], dtype=object),
 'ALVARADO AVE': array(['535', '533'], dtype=object),
 'ALVESTON ST': array(['646', '645'], dtype=object),
 'ALVESTON TER': array(['645'], dtype=object),
 'ALWARD RD': array(['660'], dtype=object),
 'ALWIN ST': array(['537', '535', '536'], dtype=object),
 'AMBOY ST': array(['814'], dtype=object),
 'AMBROSE ST': array(['268', '278'], dtype=object),
 'AMERICAN LEGION HWY': array(['503', '490', '499', '463', '565', '500', '566', '501', '908',
        '498', '444', '495', '417'], dtype=object),
 'AMES ST': array(['944', '945', '440', '439'], dtype=object),
 'AMES WAY': array(['439', '944'], dtype=object),
 'AMESBURY ST': array(['730'], dtype=object),
 'AMHERST ST': array(['679'], dtype=object),
 'AMORY AVE': array(['303'], dtype=object),
 'AMORY ST': array(['576', '948', '574', '577', '303', '573', '302'], dtype=object),
 'AMORY TER': array(['303', '948'], dtype=object),
 'AMY CT': array(['63'], dtype=object),
 'ANAWAN AVE': array(['686', '697', '698', '702'], dtype=object),
 'ANAWAN TER': array(['686'], dtype=object),
 'ANDERER LN': array(['746'], dtype=object),
 'ANDERSON PL': array(['67'], dtype=object),
 'ANDERSON ST': array(['66', '67'], dtype=object),
 'ANDOVER RD': array(['677'], dtype=object),
 'ANDREW P MCARDLE BRG': array(['26'], dtype=object),
 'ANDREWS ST': array(['167'], dtype=object),
 'ANDRIA RD': array(['488'], dtype=object),
 'ANGELL ST': array(['463'], dtype=object),
 'ANITA TER': array(['291'], dtype=object),
 'ANNABEL ST': array(['240', '241'], dtype=object),
 'ANNAFRAN ST': array(['490', '818'], dtype=object),
 'ANNAPOLIS ST': array(['242', '918', '241', '462'], dtype=object),
 'ANNAVOY ST': array(['4'], dtype=object),
 'ANNUNCIATION RD': array(['911', '589', '282'], dtype=object),
 'ANSEL RD': array(['430'], dtype=object),
 'ANSELM TER': array(['750'], dtype=object),
 'ANSON ST': array(['651'], dtype=object),
 'ANSONIA RD': array(['717', '718'], dtype=object),
 'ANTHONY J GRIECO TER': array(['28'], dtype=object),
 'ANTHONY RIP VALENTI WAY': array(['79', '76', '75'], dtype=object),
 'ANTRIM ST': array(['7'], dtype=object),
 'ANTWERP ST': array(['807', '808', '806', '778'], dtype=object),
 'APPIAN PL': array(['22'], dtype=object),
 'APPIAN WAY': array(['810'], dtype=object),
 'APPLETON ST': array(['150', '151'], dtype=object),
 'AQUADILLA ST': array(['171'], dtype=object),
 'ARAMON ST': array(['33'], dtype=object),
 'ARBELLA RD': array(['419'], dtype=object),
 'ARBORCREST TER': array(['423'], dtype=object),
 'ARBORETUM RD': array(['564'], dtype=object),
 'ARBORFIELD RD': array(['555'], dtype=object),
 'ARBOROUGH RD': array(['667'], dtype=object),
 'ARBORVIEW RD': array(['656'], dtype=object),
 'ARBORWAY': array(['510', '652', '649', '650', '569', '644', '653'], dtype=object),
 'ARBORWAY TER': array(['644', '649'], dtype=object),
 'ARBROTH ST': array(['377'], dtype=object),
 'ARBUTUS ST': array(['431'], dtype=object),
 'ARCADIA PARK': array(['352'], dtype=object),
 'ARCADIA ST': array(['352', '345', '577', '180', '303'], dtype=object),
 'ARCADIA TER': array(['352'], dtype=object),
 'ARCH ST': array(['104', '105', '106', '98', '113', '175'], dtype=object),
 'ARCHDALE RD': array(['941', '564', '664'], dtype=object),
 'ARCOLA ST': array(['607', '582'], dtype=object),
 'ARDALE ST': array(['673'], dtype=object),
 'ARDEN ST': array(['816', '815'], dtype=object),
 'ARDENT ST': array(['687'], dtype=object),
 'ARGUS PL': array(['770', '771'], dtype=object),
 'ARGYLE ST': array(['817'], dtype=object),
 'ARGYLE TER': array(['817'], dtype=object),
 'ARION ST': array(['258', '257'], dtype=object),
 'ARKLOW ST': array(['582', '607', '906'], dtype=object),
 'ARLINGTON AVE': array(['49', '48', '37'], dtype=object),
 'ARLINGTON ST': array(['495', '129', '125', '133', '120', '769', '770', '128', '494',
        '763', '132', '161', '134', '765', '779', '761', '126', '69',
        '131', '764'], dtype=object),
 'ARMANDINE ST': array(['435', '417', '434', '402'], dtype=object),
 'ARMINGTON ST': array(['795', '784'], dtype=object),
 'ARMORY ST': array(['52'], dtype=object),
 'ARMSTRONG ST': array(['579', '578'], dtype=object),
 'ARROW ST': array(['60'], dtype=object),
 'ARSENAL ST': array(['565'], dtype=object),
 'ARTHUR ST': array(['804'], dtype=object),
 'ARUNDEL ST': array(['630'], dtype=object),
 'ARVALE RD': array(['454'], dtype=object),
 'ASH ST': array(['123'], dtype=object),
 'ASHBURTON PL': array(['72'], dtype=object),
 'ASHCROFT ST': array(['634', '635'], dtype=object),
 'ASHEVILLE RD': array(['547'], dtype=object),
 'ASHFIELD ST': array(['662'], dtype=object),
 'ASHFORD CT': array(['799'], dtype=object),
 'ASHFORD ST': array(['799', '800', '798'], dtype=object),
 'ASHFORD TER': array(['799'], dtype=object),
 'ASHLAND ST': array(['253', '353'], dtype=object),
 'ASHLEY ST': array(['7', '10', '579'], dtype=object),
 'ASHMONT CT': array(['378'], dtype=object),
 'ASHMONT PARK': array(['393'], dtype=object),
 'ASHMONT ST': array(['392', '400', '394', '574', '402', '401', '367', '378', '377',
        '919', '393', '373', '357'], dtype=object),
 'ASHTON ST': array(['431', '430'], dtype=object),
 'ASPEN ST': array(['296'], dtype=object),
 'ASPINWALL RD': array(['449', '450', '362', '438'], dtype=object),
 'ASTICOU RD': array(['652'], dtype=object),
 'ASTORIA ST': array(['427', '428'], dtype=object),
 'ATHELWOLD ST': array(['446', '447', '452', '453'], dtype=object),
 'ATHENS ST': array(['201', '211', '213', '200', '204'], dtype=object),
 'ATHERSTONE ST': array(['402', '403'], dtype=object),
 'ATHERTON AVE': array(['559', '680'], dtype=object),
 'ATHERTON PL': array(['303'], dtype=object),
 'ATHERTON ST': array(['577', '303', '579', '572', '438'], dtype=object),
 'ATHOL ST': array(['810'], dtype=object),
 'ATKINS ST': array(['755', '756'], dtype=object),
 'ATKINSON ST': array(['175', '177'], dtype=object),
 'ATLANTIC AVE': array(['95', '173', '114', '91', '115', '94', '90', '110', '89', '113',
        '101', '96'], dtype=object),
 'ATLANTIC ST': array(['220'], dtype=object),
 'ATLANTIS ST': array(['741'], dtype=object),
 'ATWILL RD': array(['735', '736'], dtype=object),
 'ATWOOD RD': array(['775'], dtype=object),
 'ATWOOD SQ': array(['649'], dtype=object),
 'AUBURN PL': array(['53'], dtype=object),
 'AUBURN SQ': array(['52'], dtype=object),
 'AUBURN ST': array(['53', '52'], dtype=object),
 'AUCKLAND ST': array(['254', '249', '248', '246'], dtype=object),
 'AUGUSTUS AVE': array(['559', '557', '552'], dtype=object),
 'AURIGA ST': array(['367'], dtype=object),
 'AUSTIN ST': array(['58', '50', '544', '59', '546', '545', '543', '463', '55'],
       dtype=object),
 'AUTUMN ST': array(['719', '613'], dtype=object),
 'AVALON RD': array(['694'], dtype=object),
 'AVE DE LAFAYETTE': array(['116'], dtype=object),
 'AVE DEL LAFAYETTE': array(['117'], dtype=object),
 'AVE LOUIS PASTEUR': array(['617'], dtype=object),
 'AVENUE DE LAFAYETTE': array(['112', '113', '111', '116'], dtype=object),
 'AVENUE LOUIS PASTEUR': array(['615', '614'], dtype=object),
 'AVERTON ST': array(['681'], dtype=object),
 'AVERY PL': array(['111'], dtype=object),
 'AVERY ST': array(['111', '112'], dtype=object),
 'AVILA RD': array(['543'], dtype=object),
 'AVON ST': array(['654', '778'], dtype=object),
 'AVONDALE ST': array(['405'], dtype=object),
 'AYLES RD': array(['493', '492'], dtype=object),
 'AYR RD': array(['790'], dtype=object),
 'B ST': array(['202', '936', '522', '199', '201', '207', '206', '200'],
       dtype=object),
 'BABCOCK ST': array(['798', '796', '797'], dtype=object),
 'BABSON ST': array(['427', '425', '424', '426'], dtype=object),
 'BACK ST': array(['622', '135', '131', '139'], dtype=object),
 'BADGER RD': array(['524'], dtype=object),
 'BAGNAL ST': array(['809'], dtype=object),
 'BAILEY ST': array(['402', '219', '395', '300'], dtype=object),
 'BAIRD ST': array(['465', '466'], dtype=object),
 'BAKER AVE': array(['331', '333'], dtype=object),
 'BAKER CT': array(['186'], dtype=object),
 'BAKER PL': array(['730'], dtype=object),
 'BAKER ST': array(['722', '729', '730', '731', '718', '727', '725', '726', '743',
        '717', '716', '744', '721'], dtype=object),
 'BAKERS ALY': array(['88'], dtype=object),
 'BAKERSFIELD ST': array(['242', '243', '918', '235'], dtype=object),
 'BALDWIN PL': array(['85', '771'], dtype=object),
 'BALDWIN ST': array(['51', '52', '47'], dtype=object),
 'BALFOUR ST': array(['325'], dtype=object),
 'BALINA PL': array(['437'], dtype=object),
 'BALL ST': array(['275', '272', '904'], dtype=object),
 'BALLARD ST': array(['649'], dtype=object),
 'BALLOU AVE': array(['432', '429'], dtype=object),
 'BALSAM ST': array(['430', '431', '465'], dtype=object),
 'BANCROFT ST': array(['303'], dtype=object),
 'BANFIELD AVE': array(['421'], dtype=object),
 'BANGOR RD': array(['689'], dtype=object),
 'BANTON ST': array(['817', '366'], dtype=object),
 'BANTRY WAY': array(['231'], dtype=object),
 'BARBARA ST': array(['578', '634'], dtype=object),
 'BARCLAY RD': array(['732'], dtype=object),
 'BARD AVE': array(['281'], dtype=object),
 'BARDMAN ST': array(['26'], dtype=object),
 'BARDWELL ST': array(['649'], dtype=object),
 'BARKER ST': array(['769'], dtype=object),
 'BARLOW ST': array(['509'], dtype=object),
 'BARNA RD': array(['403'], dtype=object),
 'BARNES AVE': array(['6', '3', '5', '13', '7'], dtype=object),
 'BARRETT AVE': array(['234'], dtype=object),
 'BARRINGTON RD': array(['392'], dtype=object),
 'BARROWS ST': array(['795'], dtype=object),
 'BARRY PARK': array(['335'], dtype=object),
 'BARRY ST': array(['336', '335', '542', '543'], dtype=object),
 'BARTLETT CRES': array(['86'], dtype=object),
 'BARTLETT PL': array(['86'], dtype=object),
 'BARTLETT SQ': array(['573'], dtype=object),
 'BARTLETT ST': array(['54', '55', '292', '56'], dtype=object),
 'BASILE ST': array(['562'], dtype=object),
 'BASTO TER': array(['661'], dtype=object),
 'BATCHELDER ST': array(['182', '183'], dtype=object),
 'BATEMAN ST': array(['548'], dtype=object),
 'BATESWELL RD': array(['392'], dtype=object),
 'BATTERY ST': array(['87', '83', '90', '82'], dtype=object),
 'BATTERYMARCH ST': array(['100', '109'], dtype=object),
 'BAXTER RD': array(['38'], dtype=object),
 'BAXTER ST': array(['216', '197'], dtype=object),
 'BAY ST': array(['254', '126'], dtype=object),
 'BAY STATE PL': array(['222', '209'], dtype=object),
 'BAY STATE RD': array(['622', '632', '599'], dtype=object),
 'BAY VIEW PL': array(['234'], dtype=object),
 'BAYARD ST': array(['814', '815'], dtype=object),
 'BAYSIDE ST': array(['252'], dtype=object),
 'BAYSWATER ST': array(['4', '6', '5'], dtype=object),
 'BEACH POINT PL': array(['913'], dtype=object),
 'BEACH ST': array(['116', '117', '115', '253'], dtype=object),
 'BEACHAM ST': array(['49'], dtype=object),
 'BEACHVIEW RD': array(['2', '8'], dtype=object),
 'BEACON ST': array(['135', '131', '73', '139', '119', '72', '70', '511', '630', '629',
        '623', '596', '102', '790', '69', '512', '621', '622', '749',
        '631', '71', '789', '178', '516', '97', '804', '167'], dtype=object),
 'BEALE ST': array(['395', '903'], dtype=object),
 'BEARSE AVE': array(['387'], dtype=object),
 'BEAUFIELD ST': array(['389'], dtype=object),
 'BEAUFORD LN': array(['325', '327'], dtype=object),
 'BEAUFORT RD': array(['641', '639'], dtype=object),
 'BEAUMONT ST': array(['391', '392', '394'], dtype=object),
 'BEAVER PL': array(['69'], dtype=object),
 'BEAVER ST': array(['538', '541', '545', '69'], dtype=object),
 'BECKET ST': array(['395', '388'], dtype=object),
 'BECKLER AVE': array(['230'], dtype=object),
 'BEDFORD ST': array(['113', '112'], dtype=object),
 'BEECH GLEN ST': array(['301'], dtype=object),
 'BEECH ST': array(['553', '668', '551', '685', '683', '550', '686', '548', '910',
        '697', '684', '547'], dtype=object),
 'BEECHCROFT ST': array(['765', '760', '761', '752'], dtype=object),
 'BEECHER ST': array(['638', '578', '637'], dtype=object),
 'BEECHLAND CIR': array(['910'], dtype=object),
 'BEECHLAND ST': array(['910'], dtype=object),
 'BEECHMONT ST': array(['553', '547', '546'], dtype=object),
 'BEECHMONT TER': array(['553'], dtype=object),
 'BEECHWOOD ST': array(['337', '461'], dtype=object),
 'BEETHOVEN ST': array(['577', '572'], dtype=object),
 'BELDEN SQ': array(['239'], dtype=object),
 'BELDEN ST': array(['239', '237', '184', '238', '182'], dtype=object),
 'BELFORT ST': array(['246', '249', '248'], dtype=object),
 'BELGRADE AVE': array(['697', '687', '679', '691', '678', '686'], dtype=object),
 'BELLAMY ST': array(['757'], dtype=object),
 'BELLE AVE': array(['723', '716', '722'], dtype=object),
 'BELLEVUE HILL RD': array(['700', '699', '698'], dtype=object),
 'BELLEVUE ST': array(['332', '335', '703', '334', '700', '702', '333', '336', '704',
        '735'], dtype=object),
 'BELLFLOWER ST': array(['958', '186', '187', '189'], dtype=object),
 'BELLVISTA RD': array(['792'], dtype=object),
 'BELMONT ST': array(['46'], dtype=object),
 'BELMORE TER': array(['636'], dtype=object),
 'BELNAP RD': array(['536'], dtype=object),
 'BELNEL RD': array(['484'], dtype=object),
 'BELTON ST': array(['384'], dtype=object),
 'BELVIDERE ST': array(['144', '598', '620', '143'], dtype=object),
 'BENNET ST': array(['123', '124'], dtype=object),
 'BENNETT ST': array(['761', '770', '763'], dtype=object),
 'BENNINGTON ST': array(['12', '19', '23', '17', '14', '20', '7', '22', '15', '10', '3',
        '1'], dtype=object),
 'BENNINTON ST': array(['19'], dtype=object),
 'BENSON ST': array(['808'], dtype=object),
 'BENT CT': array(['915', '368'], dtype=object),
 'BENTHAM RD': array(['346', '345'], dtype=object),
 'BENTLEY ST': array(['778', '779'], dtype=object),
 'BENTON ST': array(['285'], dtype=object),
 'BERAM AVE': array(['910'], dtype=object),
 'BERKELEY ST': array(['134', '133', '129', '788', '151', '128', '132', '131', '161',
        '162'], dtype=object),
 'BERKSHIRE ST': array(['391'], dtype=object),
 'BERNARD ST': array(['442', '444', '441', '439', '443'], dtype=object),
 'BERRY ST': array(['376', '458'], dtype=object),
 'BERTRAM ST': array(['814', '811'], dtype=object),
 'BERTSON AVE': array(['733'], dtype=object),
 'BERWICK ST': array(['730'], dtype=object),
 'BERYL ST': array(['683', '682'], dtype=object),
 'BETHUNE WAY': array(['904', '279'], dtype=object),
 'BEVERLY ST': array(['61', '76', '79'], dtype=object),
 'BEXLEY RD': array(['562'], dtype=object),
 'BICKFORD AVE': array(['584'], dtype=object),
 'BICKFORD ST': array(['916', '581', '906', '912', '579', '584'], dtype=object),

In [19]:
for street, rep_list in SR.items():
    if len(rep_list) == 1: 
        df.loc[
            (df["REPORTING_AREA"].isna()) &
            (df["STREET"] == street),
            "REPORTING_AREA"
        ] = rep_list[0]

In [20]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19062
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [21]:
RD=df[(df["DISTRICT"].notna()) & (df["REPORTING_AREA"].notna()) ].groupby(["REPORTING_AREA"])["DISTRICT"].unique().to_dict()
for rep,dist_list in RD.items():
    if len(dist_list) == 1: 
        df.loc[
            (df["DISTRICT"].isna()) &
            (df["REPORTING_AREA"] == rep),
            "DISTRICT"
        ] = dist_list[0]

In [22]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1684
REPORTING_AREA        19062
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [23]:
dist_ra_coords = (
    df[
        df["DISTRICT"].notna() &
        df["REPORTING_AREA"].notna() &
        df["Lat"].notna() &
        df["Long"].notna()
    ]
    .groupby(["DISTRICT", "REPORTING_AREA"])[["Lat", "Long"]]
    .mean()
)

In [24]:
dist_ra_coords

                               Lat       Long
DISTRICT REPORTING_AREA
A1       100             42.357794 -71.054896
         101             42.358556 -71.053465
         102             42.356417 -71.061459
         103             42.356987 -71.059736
         104             42.356296 -71.058946
...                            ...        ...
E5       825             42.266045 -71.145073
         910             42.277179 -71.136862
         914             42.326146 -71.053491
         932             42.270628 -71.146030
         941             42.292434 -71.119740

[1069 rows x 2 columns]

In [25]:
dist_to_ra = (
    df[df["DISTRICT"].notna() & df["REPORTING_AREA"].notna()]
    .groupby("DISTRICT")["REPORTING_AREA"]
    .unique()
    .to_dict()
)

In [26]:
street_to_ra = (
    df[df["STREET"].notna() & df["REPORTING_AREA"].notna()]
    .groupby("STREET")["REPORTING_AREA"]
    .unique()
)

street_to_ra = street_to_ra[street_to_ra.apply(len) == 1].to_dict()

In [27]:
street_to_ra

{' ALBANY ST ': array(['171'], dtype=object),
 ' BLUE HILL AVE ': array(['324'], dtype=object),
 ' COLUMBUS AVE ': array(['284'], dtype=object),
 ' COMMONWEALTH AVE ': array(['796'], dtype=object),
 ' MASSACHUSETTS AVE ': array(['179'], dtype=object),
 '0 BURRELL': array(['282'], dtype=object),
 '0 MASS AVE': array(['284'], dtype=object),
 '00 CENTRE ST': array(['714'], dtype=object),
 '00 MASS AVE': array(['177'], dtype=object),
 '12 BREED ST': array(['10'], dtype=object),
 '1307 COMMONWEALTH AVE': array(['794'], dtype=object),
 '150 1': array(['231'], dtype=object),
 '5 BEACON ST': array(['102'], dtype=object),
 '54': array(['257'], dtype=object),
 '55 FAYWOOD AVE': array(['2'], dtype=object),
 '6 AVE SE': array(['797'], dtype=object),
 '8 NEWBURG ST': array(['682'], dtype=object),
 'ABBY RD': array(['806'], dtype=object),
 'ABERDEEN ST': array(['629'], dtype=object),
 'ACADEMY CT': array(['304'], dtype=object),
 'ACADEMY RD': array(['304'], dtype=object),
 'ACADEMY TER': array(['304'], dtype=object),
 'ACADIA ST': array(['223'], dtype=object),
 'ACHORN CIR': array(['649'], dtype=object),
 'ACKLEY PL': array(['574'], dtype=object),
 'ACORN ST': array(['70'], dtype=object),
 'ADAIR RD': array(['759'], dtype=object),
 'ADAMS TER': array(['364'], dtype=object),
 'ADAMSON ST': array(['809'], dtype=object),
 'ADANAC TER': array(['393'], dtype=object),
 'ADDELAIDE PL': array(['739'], dtype=object),
 'ADDISON ST': array(['12'], dtype=object),
 'ADELAIDE TER': array(['637'], dtype=object),
 'ADELLA PL': array(['795'], dtype=object),
 'ADRIAN ST': array(['324'], dtype=object),
 'AGAWAM ST': array(['368'], dtype=object),
 'AINSLEY ST': array(['367'], dtype=object),
 'AIRPORT RD': array(['36'], dtype=object),
 'AKRON PL': array(['294'], dtype=object),
 'AKRON ST': array(['294'], dtype=object),
 'AL ZWIERCAN WAY': array(['186'], dtype=object),
 'ALAMEDA RD': array(['692'], dtype=object),
 'ALARIC ST': array(['719'], dtype=object),
 'ALARIC TER': array(['719'], dtype=object),
 'ALBION PL': array(['52'], dtype=object),
 'ALBRIGHT ST': array(['742'], dtype=object),
 'ALDER ST': array(['681'], dtype=object),
 'ALDO TER': array(['516'], dtype=object),
 'ALDWIN RD': array(['564'], dtype=object),
 'ALFRED ST': array(['645'], dtype=object),
 'ALGER ST': array(['174'], dtype=object),
 'ALGONQUIN ST': array(['453'], dtype=object),
 'ALHAMBRA RD': array(['696'], dtype=object),
 'ALICIA RD': array(['403'], dtype=object),
 'ALKYRIS RD': array(['712'], dtype=object),
 'ALLEN RD': array(['761'], dtype=object),
 'ALLENWOOD ST': array(['698'], dtype=object),
 'ALLEYNE ST': array(['706'], dtype=object),
 'ALLSTATE': array(['186'], dtype=object),
 'ALNA PL': array(['34'], dtype=object),
 'ALPHA RD': array(['359'], dtype=object),
 'ALPINE PL': array(['294'], dtype=object),
 'ALTHER ST': array(['179'], dtype=object),
 'ALVAH KITTREDGE PARK': array(['291'], dtype=object),
 'ALVAN TER': array(['241'], dtype=object),
 'ALVESTON TER': array(['645'], dtype=object),
 'ALWARD RD': array(['660'], dtype=object),
 'AMBOY ST': array(['814'], dtype=object),
 'AMESBURY ST': array(['730'], dtype=object),
 'AMHERST ST': array(['679'], dtype=object),
 'AMORY AVE': array(['303'], dtype=object),
 'AMY CT': array(['63'], dtype=object),
 'ANAWAN TER': array(['686'], dtype=object),
 'ANDERER LN': array(['746'], dtype=object),
 'ANDERSON PL': array(['67'], dtype=object),
 'ANDOVER RD': array(['677'], dtype=object),
 'ANDREW P MCARDLE BRG': array(['26'], dtype=object),
 'ANDREWS ST': array(['167'], dtype=object),
 'ANDRIA RD': array(['488'], dtype=object),
 'ANGELL ST': array(['463'], dtype=object),
 'ANITA TER': array(['291'], dtype=object),
 'ANNAVOY ST': array(['4'], dtype=object),
 'ANSEL RD': array(['430'], dtype=object),
 'ANSELM TER': array(['750'], dtype=object),
 'ANSON ST': array(['651'], dtype=object),
 'ANTHONY J GRIECO TER': array(['28'], dtype=object),
 'ANTRIM ST': array(['7'], dtype=object),
 'APPIAN PL': array(['22'], dtype=object),
 'APPIAN WAY': array(['810'], dtype=object),
 'AQUADILLA ST': array(['171'], dtype=object),
 'ARAMON ST': array(['33'], dtype=object),
 'ARBELLA RD': array(['419'], dtype=object),
 'ARBORCREST TER': array(['423'], dtype=object),
 'ARBORETUM RD': array(['564'], dtype=object),
 'ARBORFIELD RD': array(['555'], dtype=object),
 'ARBOROUGH RD': array(['667'], dtype=object),
 'ARBORVIEW RD': array(['656'], dtype=object),
 'ARBROTH ST': array(['377'], dtype=object),
 'ARBUTUS ST': array(['431'], dtype=object),
 'ARCADIA PARK': array(['352'], dtype=object),
 'ARCADIA TER': array(['352'], dtype=object),
 'ARDALE ST': array(['673'], dtype=object),
 'ARDENT ST': array(['687'], dtype=object),
 'ARGYLE ST': array(['817'], dtype=object),
 'ARGYLE TER': array(['817'], dtype=object),
 'ARMORY ST': array(['52'], dtype=object),
 'ARROW ST': array(['60'], dtype=object),
 'ARSENAL ST': array(['565'], dtype=object),
 'ARTHUR ST': array(['804'], dtype=object),
 'ARUNDEL ST': array(['630'], dtype=object),
 'ARVALE RD': array(['454'], dtype=object),
 'ASH ST': array(['123'], dtype=object),
 'ASHBURTON PL': array(['72'], dtype=object),
 'ASHEVILLE RD': array(['547'], dtype=object),
 'ASHFIELD ST': array(['662'], dtype=object),
 'ASHFORD CT': array(['799'], dtype=object),
 'ASHFORD TER': array(['799'], dtype=object),
 'ASHMONT CT': array(['378'], dtype=object),
 'ASHMONT PARK': array(['393'], dtype=object),
 'ASPEN ST': array(['296'], dtype=object),
 'ASTICOU RD': array(['652'], dtype=object),
 'ATHERTON PL': array(['303'], dtype=object),
 'ATHOL ST': array(['810'], dtype=object),
 'ATLANTIC ST': array(['220'], dtype=object),
 'ATLANTIS ST': array(['741'], dtype=object),
 'ATWOOD RD': array(['775'], dtype=object),
 'ATWOOD SQ': array(['649'], dtype=object),
 'AUBURN PL': array(['53'], dtype=object),
 'AUBURN SQ': array(['52'], dtype=object),
 'AURIGA ST': array(['367'], dtype=object),
 'AVALON RD': array(['694'], dtype=object),
 'AVE DE LAFAYETTE': array(['116'], dtype=object),
 'AVE DEL LAFAYETTE': array(['117'], dtype=object),
 'AVE LOUIS PASTEUR': array(['617'], dtype=object),
 'AVERTON ST': array(['681'], dtype=object),
 'AVERY PL': array(['111'], dtype=object),
 'AVILA RD': array(['543'], dtype=object),
 'AVONDALE ST': array(['405'], dtype=object),
 'AYR RD': array(['790'], dtype=object),
 'BADGER RD': array(['524'], dtype=object),
 'BAGNAL ST': array(['809'], dtype=object),
 'BAKER CT': array(['186'], dtype=object),
 'BAKER PL': array(['730'], dtype=object),
 'BAKERS ALY': array(['88'], dtype=object),
 'BALFOUR ST': array(['325'], dtype=object),
 'BALINA PL': array(['437'], dtype=object),
 'BALLARD ST': array(['649'], dtype=object),
 'BANCROFT ST': array(['303'], dtype=object),
 'BANFIELD AVE': array(['421'], dtype=object),
 'BANGOR RD': array(['689'], dtype=object),
 'BANTRY WAY': array(['231'], dtype=object),
 'BARCLAY RD': array(['732'], dtype=object),
 'BARD AVE': array(['281'], dtype=object),
 'BARDMAN ST': array(['26'], dtype=object),
 'BARDWELL ST': array(['649'], dtype=object),
 'BARKER ST': array(['769'], dtype=object),
 'BARLOW ST': array(['509'], dtype=object),
 'BARNA RD': array(['403'], dtype=object),
 'BARRETT AVE': array(['234'], dtype=object),
 'BARRINGTON RD': array(['392'], dtype=object),
 'BARROWS ST': array(['795'], dtype=object),
 'BARRY PARK': array(['335'], dtype=object),
 'BARTLETT CRES': array(['86'], dtype=object),
 'BARTLETT PL': array(['86'], dtype=object),
 'BARTLETT SQ': array(['573'], dtype=object),
 'BASILE ST': array(['562'], dtype=object),
 'BASTO TER': array(['661'], dtype=object),
 'BATEMAN ST': array(['548'], dtype=object),
 'BATESWELL RD': array(['392'], dtype=object),
 'BAXTER RD': array(['38'], dtype=object),
 'BAY VIEW PL': array(['234'], dtype=object),
 'BAYSIDE ST': array(['252'], dtype=object),
 'BEACH POINT PL': array(['913'], dtype=object),
 'BEACHAM ST': array(['49'], dtype=object),
 'BEARSE AVE': array(['387'], dtype=object),
 'BEAUFIELD ST': array(['389'], dtype=object),
 'BEAVER PL': array(['69'], dtype=object),
 'BECKLER AVE': array(['230'], dtype=object),
 'BEECH GLEN ST': array(['301'], dtype=object),
 'BEECHLAND CIR': array(['910'], dtype=object),
 'BEECHLAND ST': array(['910'], dtype=object),
 'BEECHMONT TER': array(['553'], dtype=object),
 'BELDEN SQ': array(['239'], dtype=object),
 'BELLAMY ST': array(['757'], dtype=object),
 'BELLVISTA RD': array(['792'], dtype=object),
 'BELMONT ST': array(['46'], dtype=object),
 'BELMORE TER': array(['636'], dtype=object),
 'BELNAP RD': array(['536'], dtype=object),
 'BELNEL RD': array(['484'], dtype=object),
 'BELTON ST': array(['384'], dtype=object),
 'BENNINTON ST': array(['19'], dtype=object),
 'BENSON ST': array(['808'], dtype=object),
 'BENTON ST': array(['285'], dtype=object),
 'BERAM AVE': array(['910'], dtype=object),
 'BERKSHIRE ST': array(['391'], dtype=object),
 'BERTSON AVE': array(['733'], dtype=object),
 'BERWICK ST': array(['730'], dtype=object),
 'BEXLEY RD': array(['562'], dtype=object),
 'BICKFORD AVE': array(['584'], dtype=object),
 'BICKNELL ST': array(['444'], dtype=object),
 'BILODEAU RD': array(['329'], dtype=object),
 'BILTMORE ST': array(['640'], dtype=object),
 'BINFORD ST': array(['204'], dtype=object),
 'BIOSQUARE DR': array(['172'], dtype=object),
 'BIRCH RD': array(['713'], dtype=object),
 'BIRCHLAND AVE': array(['718'], dtype=object),
 'BIRCHWOOD ST': array(['821'], dtype=object),
 'BIRD PL': array(['735'], dtype=object),
 'BISHOP JOE L SMITH WAY': array(['329'], dtype=object),
 'BISHOP ST': array(['647'], dtype=object),
 'BLACK FALCON AVE': array(['207'], dtype=object),
 'BLACKFAN ST': array(['612'], dtype=object),
 'BLACKINTON ST': array(['7'], dtype=object),
 'BLACKWELL ST': array(['378'], dtype=object),
 'BLACKWOOD ST': array(['145'], dtype=object),
 'BLAINE ST': array(['803'], dtype=object),
 'BLANCHE ST': array(['353'], dtype=object),
 'BLANVON RD': array(['508'], dtype=object),
 'BLENFORD RD': array(['776'], dtype=object),
 'BLOOMFIELD ST': array(['357'], dtype=object),
 'BLOOMINGTON ST': array(['374'], dtype=object),
 'BLOSSOM CT': array(['63'], dtype=object),
 'BLUE HILLS PKWY': array(['482'], dtype=object),
 'BLUE LEDGE DR': array(['550'], dtype=object),
 'BLUE LEDGE TER': array(['550'], dtype=object),
 'BLUEFIELD TER': array(['423'], dtype=object),
 'BLUEVIEW CIR': array(['822'], dtype=object),
 'BLUEVIEW RD': array(['822'], dtype=object),
 'BOBOLINK ST': array(['705'], dtype=object),
 'BODWELL ST': array(['331'], dtype=object),
 'BOLSTER ST': array(['578'], dtype=object),
 'BONAIR ST': array(['738'], dtype=object),
 'BOND DR': array(['207'], dtype=object),
 'BOND ST': array(['160'], dtype=object),
 'BOSTON FISH PIER': array(['207'], dtype=object),
 'BOSTON MEDICAL CENTER PL': array(['465'], dtype=object),
 'BOSTON MEDICAL CENTER PLZ': array(['97'], dtype=object),
 'BOSTON PL': array(['97'], dtype=object),
 'BOSTON UNIVERSITY BRG': array(['632'], dtype=object),
 'BOSTON WHARF RD': array(['206'], dtype=object),
 'BOSTONIA AVE': array(['752'], dtype=object),
 'BOTHWELL RD': array(['765'], dtype=object),
 'BOULEVARD TER': array(['792'], dtype=object),
 'BOUNDARY RD': array(['822'], dtype=object),
 'BOURNEDALE RD': array(['506'], dtype=object),
 'BOUTWELL ST': array(['377'], dtype=object),
 'BOWDITCH RD': array(['655'], dtype=object),
 'BOWDOIN PK': array(['461'], dtype=object),
 'BOWDOIN SQ': array(['77'], dtype=object),
 'BOWMAN ST': array(['378'], dtype=object),
 'BOYDEN ST': array(['432'], dtype=object),
 'BOYLSTON SQ': array(['117'], dtype=object),
 'BRADBURY ST': array(['815'], dtype=object),
 'BRADDOCK PARK': array(['149'], dtype=object),
 'BRADEEN ST': array(['563'], dtype=object),
 'BRADFORD CIR': array(['675'], dtype=object),
 'BRADFORD RD': array(['406'], dtype=object),
 'BRADLEE CT': array(['497'], dtype=object),
 'BRADLEE LN': array(['497'], dtype=object),
 'BRADSTREET AVE': array(['501'], dtype=object),
 'BRADWOOD ST': array(['687'], dtype=object),
 'BRAEMORE RD': array(['789'], dtype=object),
 'BRAEWOOD ST': array(['544'], dtype=object),
 'BRANCH ST': array(['70'], dtype=object),
 'BRANCHFIELD ST': array(['387'], dtype=object),
 'BRANDYWYNE DR': array(['12'], dtype=object),
 'BRANNON-HARRIS WAY': array(['937'], dtype=object),
 'BRANTON ST': array(['379'], dtype=object),
 'BRAVES FIELD WAY': array(['797'], dtype=object),
 'BREMEN TER': array(['510'], dtype=object),
 'BRENTON ST': array(['445'], dtype=object),
 'BRENTWOOD ST': array(['810'], dtype=object),
 'BREWSTER ST': array(['233'], dtype=object),
 'BRIARCLIFF TER': array(['423'], dtype=object),
 'BRIER RD': array(['708'], dtype=object),
 'BRIGHAM ST': array(['34'], dtype=object),
 'BRIGHTON ST': array(['50'], dtype=object),
 'BRIMMER ST': array(['69'], dtype=object),
 'BRINTON ST': array(['305'], dtype=object),
 'BROADLAWN PARK': array(['748'], dtype=object),
 'BROADWAY BRG': array(['200'], dtype=object),
 'BROMLEY ST': array(['586'], dtype=object),
 'BRONSDON ST': array(['805'], dtype=object),
 'BRONX RD': array(['718'], dtype=object),
 'BROOK MARSHALL RD': array(['286'], dtype=object),
 'BROOKFIELD ST': array(['672'], dtype=object),
 'BROOKSDALE RD': array(['766'], dtype=object),
 'BROOKSTONE ST': array(['564'], dtype=object),
 'BROOKVALE ST': array(['388'], dtype=object),
 'BROWN TER': array(['645'], dtype=object),
 'BROWNSON TER': array(['658'], dtype=object),
 'BRUCE ST': array(['393'], dtype=object),
 'BRUCEWOOD ST': array(['693'], dtype=object),
 'BRUSH HILL TER': array(['515'], dtype=object),
 'BRUSHWOOD CIR': array(['513'], dtype=object),
 'BRYANT RD': array(['713'], dtype=object),
 'BRYON RD': array(['748'], dtype=object),
 'BUCHANAN RD': array(['660'], dtype=object),
 'BUCKLEY AVE': array(['579'], dtype=object),
 'BUICK ST': array(['797'], dtype=object),
 'BUNGALOW RD': array(['713'], dtype=object),
 'BUNKER HILL CT': array(['54'], dtype=object),
 'BUNKER HILL INDUSTRIAL PA': array(['50'], dtype=object),
 'BURGOYNE ST': array(['392'], dtype=object),
 'BURKE ST': array(['285'], dtype=object),
 'BURLEY ST': array(['553'], dtype=object),
 'BURLINGTON AVE': array(['628'], dtype=object),
 'BURMAH ST': array(['482'], dtype=object),
 'BURNETT ST': array(['569'], dtype=object),
 'BURNHAM PL': array(['221'], dtype=object),
 'BURNSIDE AVE': array(['678'], dtype=object),
 'BURRAGE ST': array(['641'], dtype=object),
 'BURRELL ST': array(['182'], dtype=object),
 'BURRILL PL': array(['229'], dtype=object),
 'BURROUGHS PL': array(['642'], dtype=object),
 'BURRWOOD RD': array(['659'], dtype=object),
 'BURT ST': array(['402'], dtype=object),
 'BURTON AVE': array(['265'], dtype=object),
 'BUSHNELL ST': array(['394'], dtype=object),
 'BUSINESS TER': array(['542'], dtype=object),
 'BUSWELL ST': array(['630'], dtype=object),
 'BUTLER SQ': array(['94'], dtype=object),
 'BUTTONWOOD CT': array(['235'], dtype=object),
 'BY PASS RD': array(['220'], dtype=object),
 'BYRD AVE': array(['502'], dtype=object),
 'CADDY RD': array(['408'], dtype=object),
 'CAHNERS PL': array(['128'], dtype=object),
 'CALDER ST': array(['463'], dtype=object),
 'CALDWELL ST': array(['50'], dtype=object),
 'CALEDONIAN AVE': array(['724'], dtype=object),
 'CALTHA RD': array(['751'], dtype=object),
 'CALVIN RD': array(['656'], dtype=object),
 'CAMBRIA ST': array(['598'], dtype=object),
 'CAMBRIDGE TER': array(['795'], dtype=object),
 'CAMDEN AVE': array(['282'], dtype=object),
 'CAMELOT CT': array(['783'], dtype=object),
 'CAMPANELLA WAY': array(['749'], dtype=object),
 'CANTON PL': array(['153'], dtype=object),
 'CANTON ST': array(['167'], dtype=object),
 'CAPEN PL': array(['434'], dtype=object),
 'CAPITAL ST': array(['744'], dtype=object),
 'CARDINGTON ST': array(['306'], dtype=object),
 'CARLETON ST': array(['149'], dtype=object),
 'CARLOS ST': array(['432'], dtype=object),
 'CARLOTTA ST': array(['364'], dtype=object),
 'CARLSON CIR': array(['688'], dtype=object),
 'CARMEN ST': array(['455'], dtype=object),
 'CARNEY CT': array(['900'], dtype=object),
 'CAROL AVE': array(['791'], dtype=object),
 'CAROL CIR': array(['710'], dtype=object),
 'CAROLINA PL': array(['648'], dtype=object),
 'CARROLTON RD': array(['821'], dtype=object),
 'CARSON ST': array(['235'], dtype=object),
 'CARTER ST': array(['50'], dtype=object),
 'CARY PL': array(['54'], dtype=object),
 'CASPAR ST': array(['740'], dtype=object),
 'CASSNET ST': array(['351'], dtype=object),
 'CASTLE CT': array(['161'], dtype=object),
 'CASTLE ROCK ST': array(['251'], dtype=object),
 'CASTLEGATE RD': array(['330'], dtype=object),
 'CATAUMET ST': array(['653'], dtype=object),
 'CATAWBA ST': array(['309'], dtype=object),
 'CATBIRD CT': array(['565'], dtype=object),
 'CATON ST': array(['485'], dtype=object),
 'CAWFIELD ST': array(['237'], dtype=object),
 'CAZENOVE ST': array(['151'], dtype=object),
 'CEADER ST': array(['282'], dtype=object),
 'CEDAR GROVE ST': array(['384'], dtype=object),
 'CEDAR LANE WAY': array(['70'], dtype=object),
 'CEDAR PARK': array(['301'], dtype=object),
 'CEDAR PL': array(['258'], dtype=object),
 'CEDAR SQ': array(['293'], dtype=object),
 'CEDARCREST CIR': array(['822'], dtype=object),
 'CEDARCREST LN': array(['822'], dtype=object),
 'CEDARCREST RD': array(['822'], dtype=object),
 'CEDRIC ST': array(['181'], dtype=object),
 'CENACLE RD': array(['762'], dtype=object),
 'CENTER PLZ': array(['73'], dtype=object),
 'CENTERVALE PARK': array(['360'], dtype=object),
 'CENTRAL ST': array(['101'], dtype=object),
 'CENTRE CT': array(['364'], dtype=object),
 'CENTRE LN': array(['717'], dtype=object),
 'CENTRE PL': array(['291'], dtype=object),
 'CENTRE STREET TER': array(['301'], dtype=object),
 'CERINA RD': array(['640'], dtype=object),
 'CHADWICK ST': array(['269'], dtype=object),
 'CHAMBERLAIN ST': array(['453'], dtype=object),
 'CHAMPLAIN CIR': array(['452'], dtype=object),
 'CHAMPNEY PL': array(['66'], dtype=object),
 'CHANNEL CENTER ST': array(['204'], dtype=object),
 'CHANNEL ST': array(['207'], dtype=object),
 'CHAPPIE ST': array(['47'], dtype=object),
 'CHARBONNIER ST': array(['51'], dtype=object),
 'CHARLAME PL': array(['309'], dtype=object),
 'CHARLAME ST': array(['309'], dtype=object),
 'CHARLEMONT ST': array(['379'], dtype=object),
 'CHARLES PARK RD': array(['728'], dtype=object),
 'CHARLES RIVER AVE': array(['39'], dtype=object),
 'CHARLES RIVER SQ': array(['66'], dtype=object),
 'CHARLESGATE': array(['623'], dtype=object),
 'CHARLESVIEW ST': array(['757'], dtype=object),
 'CHARME AVE': array(['502'], dtype=object),
 'CHATHAM ROW': array(['94'], dtype=object),
 'CHAUCER ST': array(['15'], dtype=object),
 'CHEEVER CT': array(['34'], dtype=object),
 'CHELMSFORD ST': array(['379'], dtype=object),
 'CHELSEA TER': array(['21'], dtype=object),
 'CHERITON RD': array(['549'], dtype=object),
 'CHEROKEE ST': array(['586'], dtype=object),
 'CHERYL LN': array(['537'], dtype=object),
 'CHESHIRE ST': array(['640'], dtype=object),
 'CHESTNUT HILL DR': array(['749'], dtype=object),
 'CHESTNUT RD': array(['713'], dtype=object),
 'CHESTNUT SQ': array(['640'], dtype=object),
 'CHESTNUT W': array(['444'], dtype=object),
 'CHILCOTT PL': array(['572'], dtype=object),
 'CHILTON RD': array(['694'], dtype=object),
 'CHIPMAN ST': array(['436'], dtype=object),
 'CHISHOLM LN': array(['552'], dtype=object),
 'CHISHOLM RD': array(['552'], dtype=object),
 'CHISHOLM TER': array(['552'], dtype=object),
 'CHISWICK TER': array(['773'], dtype=object),
 'CHURCH CT': array(['56'], dtype=object),
 'CHURCHILL RD': array(['709'], dtype=object),
 'CIRCUIT DR': array(['566'], dtype=object),
 'CIRCUIT SQ': array(['298'], dtype=object),
 'CITY VIEW RD': array(['791'], dtype=object),
 'CLAREMONT PARK': array(['147'], dtype=object),
 'CLARENCE ST': array(['181'], dtype=object),
 'CLARIDGE TER': array(['435'], dtype=object),
 'CLARON ST': array(['550'], dtype=object),
 'CLAXTON ST': array(['564'], dtype=object),
 'CLAYMOSS RD': array(['785'], dtype=object),
 'CLEARWATER DR': array(['410'], dtype=object),
 'CLEARWAY ST': array(['144'], dtype=object),
 'CLEAVES ST': array(['572'], dtype=object),
 'CLEMATIS ST': array(['363'], dtype=object),

In [28]:
mask = df["REPORTING_AREA"].isna() & df["DISTRICT"].notna()

for idx in df[mask].index:
    district = df.at[idx, "DISTRICT"]
    lat = df.at[idx, "Lat"]
    lon = df.at[idx, "Long"]
    street = df.at[idx, "STREET"]

    # 1 LatLong based
    if pd.notna(lat) and pd.notna(lon) and district in dist_ra_coords.index.get_level_values(0):
        sub = dist_ra_coords.loc[district]
        distances = ((sub["Lat"] - lat) ** 2 + (sub["Long"] - lon) ** 2) ** 0.5
        df.at[idx, "REPORTING_AREA"] = distances.idxmin()

    # 2 Street-based (safe only)
    elif pd.notna(street) and street in street_to_ra:
        df.at[idx, "REPORTING_AREA"] = street_to_ra[street][0]

    # 3 Random fallback
    elif district in dist_to_ra:
        df.at[idx, "REPORTING_AREA"] = np.random.choice(dist_to_ra[district])

In [29]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1684
REPORTING_AREA         1653
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [30]:


ra_street_coords = (
    df[
        df["REPORTING_AREA"].notna() &
        df["STREET"].notna() &
        df["Lat"].notna() &
        df["Long"].notna()
    ]
    .groupby(["REPORTING_AREA", "STREET"])[["Lat", "Long"]]
    .mean()
)

In [31]:
ra_street_coords

                                     Lat       Long
REPORTING_AREA STREET
1              BENNINGTON ST   42.390328 -70.996720
               LEVERETT AVE    42.389415 -70.996285
10             ASHLEY ST       42.388615 -71.008756
               BENNINGTON ST   42.386761 -71.006607
               BOARDMAN ST     42.388477 -71.009780
...                                  ...        ...
99             MILK ST         42.356896 -71.055735
               PEARL ST        42.357230 -71.056088
               POST OFFICE SQ  42.356322 -71.055661
               STATE ST        42.358923 -71.056354
               WATER ST        42.357680 -71.055879

[8547 rows x 2 columns]

In [32]:
ra_to_street = (
    df[df["REPORTING_AREA"].notna() & df["STREET"].notna()]
    .groupby("REPORTING_AREA")["STREET"]
    .unique()
    .to_dict()
)

In [33]:
ra_to_street

{'1': array(['LEVERETT AVE', 'BENNINGTON ST', 'BORDER ST', 'E EAGLE ST',
        'LOGAN AIRPORT'], dtype=object),
 '10': array(['ORIENT AVE', 'BOARDMAN ST', 'LEYDEN ST', 'ASHLEY ST',
        'CHELSEA ST', 'BENNINGTON ST', 'BREED ST', 'FORD ST', 'WHITBY ST',
        'GLADSTONE ST', 'SARATOGA ST', 'LOGAN AIRPORT TERMINAL',
        'S BREMEN ST', 'NEPTUNE RD', 'DRUMLIN RD', '12 BREED ST'],
       dtype=object),
 '100': array(['BROAD ST', 'STATE ST', 'OLIVER ST', 'WASHINGTON ST', 'WATER ST',
        'FRANKLIN ST', 'BATTERYMARCH ST', 'LIBERTY SQ', 'TEMPLE PL',
        'MILK ST', 'BOYLSTON ST', 'BEACON ST', 'KINGSTON ST', 'KILBY ST',
        'MEDFORD ST', 'CROSS ST', 'LEWIS ST', 'SCHOOL ST', 'ESSEX ST',
        'SUMMER ST', 'CAUSEWAY ST'], dtype=object),
 '101': array(['JAN KARSKI WAY', 'MCKINLEY SQ', 'BEACH ST', 'MILK ST', 'STATE ST',
        'BROAD ST', 'CENTRAL ST', 'INDIA ST', 'W CEDAR ST', 'FRANKLIN ST',
        'COMMERCIAL ST', 'CUSTOM HOUSE ST', 'WELL ST', 'BEDFORD ST',
        'ATLANTIC AVE', 'BLOSSOM ST', 'WHARF ST', 'BRADSTON ST',
        'DORCHESTER ST', 'MASSACHUSETTS AVE', 'CAUSEWAY ST', 'CITY HALL',
        'TEMPLE PL', 'SUMMER ST', 'PIER 4', 'MARKET', 'SOUTHAMPTON ST',
        'CAMBRIDGE ST', 'ESSEX ST'], dtype=object),
 '102': array(['TREMONT ST', 'WINTER ST', 'WASHINGTON ST', 'BROMFIELD ST',
        'PARK ST', 'BEACON ST', 'SUMMER ST', 'HAMILTON PL', 'CHARLES ST',
        'WINTER PL', '5 BEACON ST', 'BOSWORTH ST', 'TREMONT PL',
        'CANAL ST', 'WESLEYAN PL', 'HAWLEY ST', 'ATLANTIC AVE',
        'FRANKLIN ST', 'BOYLSTON ST', 'TEMPLE PL', 'CAUSEWAY ST'],
       dtype=object),
 '103': array(['WASHINGTON ST', 'SCHOOL ST', 'ALBANY ST', 'BOSWORTH ST',
        'TREMONT ST', 'CLARENDON ST', 'BROMFIELD ST', 'PROVINCE ST',
        'BEACON ST', 'MASSACHUSETTS AVE', 'JERSEY ST', 'HAWLEY ST',
        'ESSEX ST', 'CITY HALL AVE', 'MAPLE ST', 'HERALD ST',
        'E BERKELEY ST', 'SUMMER ST', 'CAUSEWAY ST', 'TEMPLE PL',
        'HARRISON AVE', 'MEDFORD ST', 'COLUMBUS AVE'], dtype=object),
 '104': array(['MILK ST', 'WASHINGTON ST', 'ARCH ST', 'BROMFIELD ST',
        'FRANKLIN ST', 'BEACH ST', 'HANOVER ST', 'HAWLEY ST', 'TEMPLE PL',
        'MARGINAL RD', 'CONGRESS ST', 'CAMBRIDGE ST', 'HIGH ST',
        'BEACON ST', 'ESSEX ST', 'BOYLSTON ST', 'FREEPORT ST',
        'LAGRANGE ST', 'LONG WHARF', 'COMMERCIAL ST', 'HANOVER'],
       dtype=object),
 '105': array(['SUMMER ST', 'FRANKLIN ST', 'ARCH ST', 'FRUIT ST', 'WASHINGTON ST',
        "O'MEARA", "O'REILLY", "TIBBETT'S TOWN", "O'BRIEN", 'RUTHERFORD',
        'ESSEX ST', 'ALFORD ST', 'BOYLSTON ST', 'ATLANTIC AVE',
        'DECATUR ST', 'TREMONT ST', 'HAWLEY ST', 'MARION', 'BROMFIELD ST',
        'STUART ST', 'BUNKER HILL ST', 'CHARLES ST', 'KNAPP AL',
        'TEMPLE PL'], dtype=object),
 '106': array(['SUMMER ST', 'OTIS ST', 'FEDERAL ST', 'ARCH ST', 'WINTHROP SQ',
        'HIGH ST', 'ATLANTIC AVE', 'DEVONSHIRE ST', 'FRANKLIN ST',
        'STUART ST', 'BOYLSTON ST', 'PURCHASE ST', 'COMMERCIAL ST',
        'CONGRESS ST', 'MARGINAL RD', 'LONG', 'TEMPLE PL', 'LIBERTY SQ',
        'WINTHROP LN'], dtype=object),
 '107': array(['FRANKLIN ST', 'SHAWMUT AVE', 'DEVONSHIRE ST', 'FEDERAL ST',
        'MILK ST', 'STATE ST', 'CAMBRIDGE ST', 'BLACKSTONE ST',
        'CONGRESS ST', 'HANOVER', 'ANTHONY RIP VALENTI WA'], dtype=object),
 '108': array(['PEARL ST', 'CONGRESS ST', 'FEDERAL ST', 'HIGH ST', 'PURCHASE ST',
        'MATTHEWS ST', 'LOUISBER', 'FRANKLIN ST', 'POST OFFICE SQ',
        'BOYLSTON ST', 'TREMONT ST', 'AVENUE DE LAFAYETTE', 'MARGINAL RD',
        'CHARLES ST', 'CANAL ST', 'SUMMER ST', 'MILK ST', 'BEACH ST',
        'CLARK ST', 'STUART ST', 'COMMERCIAL ST', 'CITY HALL'],
       dtype=object),
 '109': array(['HIGH ST', 'FRANKLIN ST', 'WENDELL ST', 'BROAD ST',
        'POST OFFICE SQ', 'BATTERYMARCH ST', 'NORTH ST', 'PROVINCE CT',
        'OLIVER ST', 'JOY ST', 'MARGINAL RD', 'PEARL ST', 'ARLINGTON ST',
        'ATLANTIC AVE', 'CAUSEWAY ST', 'BOYLSTON ST', 'STATE',
        'TREMONT ST', 'CONGRESS ST', 'CAMBRIDGE ST', 'LNG'], dtype=object),
 '11': array(['WILLIAM F MCCLELLAN HWY', 'CHELSEA ST', 'CURTIS ST',
        'BENNINGTON ST'], dtype=object),
 '110': array(['OLIVER ST', 'INTERNATIONAL PL', 'LONG WHARF', 'ATLANTIC AVE',
        'HIGH ST', 'PEARL ST', 'TD', 'AVERY ST', 'CONGRESS ST',
        'PURCHASE ST', 'BEACON ST', 'CAMBRIDGE ST', 'DERNE ST',
        'CHARLES ST', 'STUART ST', 'HANOVER', 'SCHOOL ST', 'BOYLSTON ST',
        'BOSTON HARBOR', 'BROMFIELD ST'], dtype=object),
 '111': array(['WASHINGTON ST', 'TEMPLE PL', 'TREMONT ST', 'WINTER PL', 'WEST ST',
        'BOYLSTON ST', 'WINTER ST', 'AVERY ST', 'MASON ST', 'ESSEX ST',
        'BEACON ST', 'OLD COLONY AVE', 'HEAD PL', 'COVENTRY ST',
        'COMMERCIAL ST', 'AVENUE DE LAFAYETTE', 'AVERY PL', 'SCHOOL ST',
        'KNEELAND ST', 'ATLANTIC AVE', 'BOYLSTON', 'BOSTON', 'NEW SUDBURY',
        'HYDE PARK AVE', 'CAMBRIDGE ST', 'BEDFORD ST', 'HANOVER ST',
        'CONGRESS ST', 'CENTRE ST', 'HARLEM PL'], dtype=object),
 '112': array(['WASHINGTON ST', 'ESSEX ST', 'AVENUE DE LAFAYETTE', 'HAYWARD PL',
        'CHAUNCY ST', 'ATLANTIC AVE', 'HARRISON AVENUE EXT', 'BEDFORD ST',
        'CAMBRIDGE ST', 'SUMMER ST', 'HARRISON AVE', 'AVERY ST',
        'TREMONT ST', 'CONGRESS ST', 'SCHOOL ST', 'COMMERCIAL ST',
        'STUART ST', 'WINTER ST', 'HAWLEY ST', 'WEST ST', 'BEACON ST',
        'CROSS ST', 'BOYLSTON ST', 'WASHINGTON', 'BATTERY WHRF',
        'BROMFIELD ST', 'TEMPLE PL'], dtype=object),
 '113': array(['CHAUNCY ST', 'SUMMER ST', 'AVENUE DE LAFAYETTE', 'KINGSTON ST',
        'WAVERLY PL', 'LINCOLN ST', 'ESSEX ST', 'BEDFORD ST',
        'JOHN F. FITZGERALD SURFAC', 'ATLANTIC AVE', 'STUART ST',
        'ARCH ST', 'FLEET ST', 'EDINBORO ST', 'DEVONSHIRE ST', 'BEACON ST',
        'AVERY ST', 'PURCHASE ST', 'FINANCIAL CTR', 'CONGRESS ST',
        'MERRIMAC ST', 'CHARLES', 'HIGH ST', 'OTIS ST'], dtype=object),
 '114': array(['ATLANTIC AVE', 'CONGRESS ST', 'BEDFORD ST', 'BEACON ST', 'BOSTON',
        'COMERCIAL', 'SUMMER ST', 'DORCHESTER AVE', 'SEAPORT BLVD',
        'ALLSTATE RD', 'BEACH ST', 'N WASHINGTON ST', 'BLOSSOM ST',
        'DORCHESTER ST', 'ELLERY', 'TEMPLE PL', 'STUART ST', 'CAUSEWAY ST',
        'MASSACHUSETTS AVE', 'MERRIMAC ST'], dtype=object),
 '115': array(['SOUTH ST', 'CANAL ST', 'KNEELAND ST', 'WAVERLY PL', 'BOYLSTON ST',
        'ATLANTIC AVE', 'LINCOLN ST', 'ESSEX ST', 'BEACH ST',
        'MARGINAL RD', 'TUFTS ST', 'EAST ST', 'SUMMER ST', 'MERRIMAC ST',
        'BEACON ST', 'CAMBRIDGE ST', 'UTICA ST', 'TREMONT ST',
        'CAUSEWAY ST'], dtype=object),
 '116': array(['KINGSTON ST', 'OXFORD PL', 'BEACH ST', 'ESSEX ST', 'OXFORD ST',
        'HARRISON AVE', 'LINCOLN ST', 'TYLER ST', 'HUDSON ST',
        'EDINBORO ST', 'KNEELAND ST', 'AVENUE DE LAFAYETTE',
        'JOHN F. FITZGERALD SURFAC', 'PING ON ST', 'AVE DE LAFAYETTE',
        'CHAUNCY ST', 'CUMMINS HWY', 'HYDE PARK AVE', 'ATLANTIC AVE',
        'TREMONT ST', 'CAMBRIDGE ST', 'WASHINGTON ST', 'HIGH ST',
        'CONGRESS ST', 'FRANKLIN ST', 'BOYLSTON ST', 'ARCH ST', 'DERNE ST',
        'COURT ST'], dtype=object),
 '117': array(['BOYLSTON ST', 'WASHINGTON ST', 'LAGRANGE ST', 'TREMONT ST',
        'ESSEX ST', 'STUART ST', 'BEACH ST', 'HARRISON AVE', 'KNAPP ST',
        'KNEELAND ST', 'N WASHINGTON ST', 'JOHN F. FITZGERALD SURFAC',
        'MERIDIAN ST', 'BOYLSTON SQ', 'CHELSEA ST', 'AVE DEL LAFAYETTE',
        'BENNINGTON ST', 'TAMWORTH ST', 'WALTHAM ST', 'LONG',
        'CAUSEWAY ST', 'TEMPLE PL'], dtype=object),
 '118': array(['STUART ST', 'BOYLSTON ST', 'CHARLES ST S', 'COLUMBUS AVE',
        'CAUSEWAY ST', 'TREMONT ST', 'WASHINGTON ST', 'CHURCH ST',
        'BOYLSTON PL', 'CONGRESS ST', 'CAMBRIDGE ST', 'WALNUT PARK',
        'BLUE HILL AVE', 'BEDFORD ST', 'BRAY ST', 'BABSON ST', 'PARK PLZ',
        'AMERICAN LEGION HWY', 'HEATH ST', 'TEMPLE PL', 'ARBORWAY',
        'PARK PL', 'ELIOT', 'CUMMINS HWY', 'FOREST HILLS ST', 'BOSTON',
        'CITY HALL', 'COMMERCIAL ST', 'ATHERTON ST', 'CHESTNUT AVE',
        'BEACH ST', 'MORTON ST'], dtype=object),
 '119': array(['TREMONT ST', 'PARK ST', 'BOYLSTON ST', 'BEACON ST', 'TEMPLE PL',
        'KINGSTON ST', 'CROSS ST', 'PURCHASE ST', 'CONGRESS ST',
        'ARLINGTON ST', 'WINTER PL', 'WEST ST', 'MERRIMAC ST', 'BEACH ST'],
       dtype=object),
 '12': array(['WILLIAM F MCCLELLAN HWY', 'BENNINGTON ST', 'SARATOGA ST',
        'TRUSTMAN TER', 'WORDSWORTH ST', 'BOARDMAN ST', 'BRANDYWYNE DR',
        'ADDISON ST', 'TRIDENT ST', 'HORACE ST', 'FRUIT ST', 'GREENWAY',
        'LOGAN AIRPORT'], dtype=object),
 '120': array(['CHARLES ST', 'SUMMER ST', 'BATTERY WHRF', 'PARK PLZ',
        'BOYLSTON ST', 'ARLINGTON ST', 'PROVIDENCE ST', 'FENWAY PARK',
        'BEACON ST', 'COLUMBUS AVE', 'E BERKELEY ST', 'AVERY ST', 'PARK',
        'WINTER PL', 'MASSACHUSETTS AVE', 'HADASSAH WAY', 'CONGRESS ST',
        'GALLIVAN BLVD', 'BELVIDERE ST', 'TEMPLE PL', 'W NEWTON ST',
        'SCHOOL ST', 'ESSEX ST', 'COLUMBIA RD', 'MORTON ST', 'BERKELEY ST',
        'CROSS ST', 'BOWDOIN ST', 'COMMERCIAL WHRF'], dtype=object),
 '121': array(['STUART ST', 'TREMONT ST', 'WARRENTON ST', 'CHARLES ST S',
        'SEAVER PL', 'BATTERY ST', 'BROADWAY ST', 'CAUSEWAY ST',
        'BEACON ST', 'SCHOOL ST', 'LINCOLN ST', 'BLOSSOM ST', 'BEDFORD ST',
        'BOYLSTON ST', 'ATLANTIC AVE', 'OTIS ST', 'FAYETTE ST',
        'PURCHASE ST', 'BROMFIELD ST', 'MELROSE ST', 'CAMBRIDGE ST'],
       dtype=object),
 '122': array(['TREMONT ST', 'STUART ST', 'WASHINGTON ST', 'MEDFORD ST',
        'WALK HILL ST', 'ESSEX ST', 'BEACON ST', 'CONGRESS ST',
        'BROMFIELD ST', 'TEMPLE PL', 'BOYLSTON ST', 'NORTH ST'],
       dtype=object),
 '123': array(['BOYLSTON ST', 'WASHINGTON ST', 'KNAPP ST', 'HARRISON AVE',
        'KNEELAND ST', 'NASSAU ST', 'JOHNNY CT', 'OAK ST', 'BENNET ST',
        'STUART ST', 'HARVARD ST', 'ASH ST', 'PINE ST', 'MAPLE PL',
        'THOMPSONS ISLAND', 'BEACON ST', 'SOLDIERS FIELD RD', 'ARCH ST',
        'SUMMER ST', 'WINTER PL', 'TREMONT ST', 'CAUSEWAY ST'],
       dtype=object),
 '124': array(['KNEELAND ST', 'TYLER ST', 'HUDSON ST', 'HARRISON AVE',
        'BLUE HILL AVE', 'OAK ST', 'JOHN F. FITZGERALD SURFAC',
        'HARVARD ST', 'BENNET ST', 'ALBANY ST', 'COLUMBUS AVE', 'BEACH ST',
        'COMMONWEALTH AVE', 'TAI TUNG ST', 'CEDAR ST', 'CONGRESS ST',
        'MASSACHUSETTS AVE', 'BOYLSTON ST', 'HERALD ST', 'ESSEX ST',
        'WALNUT AVE', 'BEACON ST', 'MARGINAL RD', 'HAROLD ST',
        'HUNTINGTON AVE', 'ROWES WARF', 'TEMPLE PL', 'COLUMBIA RD',
        'DALE ST', 'E BERKELEY ST', 'CAUSEWAY ST'], dtype=object),
 '125': array(['STUART ST', 'ARLINGTON ST', 'CHURCH ST', 'PIEDMONT ST',
        'BROADWAY ST', 'MELROSE ST', 'S CEDAR PL', 'WINCHESTER ST',
        'CHARLES ST', 'BEACH ST', 'HIGHLAND ST', 'SCHOOL ST', 'COURT ST',
        'BLOSSOM ST', 'EDGERLY PL', 'RESERVE CHANNEL', 'CROSS ST',
        'ATLANTIC AVE', 'BOYLSTON ST', 'SUMMER ST', 'FRANKLIN ST'],
       dtype=object),
 '126': array(['MELROSE ST', 'CHURCH ST', 'FAYETTE ST', 'CHARLES ST S',
        'JEFFERSON ST', 'TREMONT ST', 'MARGINAL RD', 'BEACON ST',
        'ARLINGTON ST', 'KNOX ST', 'ESSEX ST', 'BAY ST', 'CAUSEWAY ST',
        'CAMBRIDGE ST', 'CROSS ST', 'LAGRANGE ST', 'BOYLSTON ST',
        'JOHN F. FITZGERALD SURF'], dtype=object),
 '127': array(['KNEELAND ST', 'WASHINGTON ST', 'OAK ST W', 'SHAWMUT AVE',
        'TREMONT ST', 'JEFFERSON ST', 'CHARLES ST S', 'CITY HALL PLZ',
        'LOUISBURG', 'STUART ST', 'CONGRESS ST', 'TEMPLE PL',
        'MARGINAL RD', 'BULFINCH PL', 'FRANKLIN ST', 'SUMMER ST',
        'COMMERCIAL ST', 'NORTH ST', 'ROWES', 'ESSEX ST', 'WINTER PL',
        'CHARTER ST'], dtype=object),
 '128': array(['STUART ST', 'CORTES ST', 'COLUMBUS AVE', 'STANHOPE ST',
        'BERKELEY ST', 'BOYLSTON ST', 'CAHNERS PL', 'ARLINGTON ST',
        'ISABELLA ST', 'AGUADILLA ST', 'CLARENDON ST', 'FLEET ST',
        'STANIFORD ST', 'PUBLIC ALLEY NO 441', 'CONGRESS ST', 'STATE ST',
        'COMMONWEALTH AVE', 'LYNN ST', 'BEDFORD ST', 'SCHOOL ST',
        'PUBLIC ALLEY NO 437', 'ALBANY ST', 'MASSACHUSETTS AVE',
        'SAINT BOTOLPH ST', 'HARRISON AVE', 'BEACH ST', '5 REVERE ST',
        'CROSS ST'], dtype=object),
 '129': array(['BOYLSTON ST', 'SAINT JAMES AVE', 'ARLINGTON ST', 'BERKELEY ST',
        'PROVIDENCE ST', 'STUART ST', 'COMMONWEALTH AVE',
        'MELNEA CASS BLVD', 'DWIGHT ST', 'CLARENDON ST', 'BURBANK ST',
        'MASSACHUSETTS AVE', 'HARRISON AVE', 'HERALD ST'], dtype=object),
 '13': array(['THURSTON ST', 'BYRON ST', 'COLERIDGE ST', 'BENNINGTON ST',
        'COWPER ST', 'BARNES AVE', 'BOARDMAN ST', 'WORDSWORTH ST'],
       dtype=object),
 '130': array(['CLARENDON ST', 'DARTMOUTH ST', 'BOYLSTON ST', 'SAINT JAMES AVE',
        'HUNTINGTON AVE', 'EXETER ST', 'STUART ST', 'BLAGDEN ST',
        'TRINITY PL', 'ARLINGTON ST', 'MASSACHUSETTS AVE', 'HERALD ST',
        'BACK ST', 'W BROOKLINE ST', 'BEACON ST', 'PUBLIC ALLEY NO 440',
        'HARRISON AVE'], dtype=object),
 '131': array(['BEACON ST', 'MARLBOROUGH ST', 'CLARENDON ST', 'ATLANTIC AVE',
        'BERKELEY ST', 'BACK ST', 'FLEET', 'CAMBRIDGE ST',
        'GAINSBOROUGH ST', 'PUBLIC ALLEY NO 441', 'BOYLSTON ST',
        'ARLINGTON ST', 'MYSTIC ST', 'DAVID MUGAR WAY', 'BELVIDERE ST',
        'MARGINAL RD', 'WINTER PL', 'ALBANY ST', 'MASSACHUSETTS AVE',
        'E LENOX ST', 'COMMERCIAL ST', 'COMMONWEALTH AVE', 'DARTMOUTH ST',
        'E BROOKLINE ST', 'TEMPLE PL', 'BROMFIELD ST', 'BEVERLY ST'],
       dtype=object),
 '132': array(['COMMONWEALTH AVE', 'MARLBOROUGH ST', 'MASSACHUSETTS AVE',
        'CLARENDON ST', 'BERKELEY ST', 'ARLINGTON ST', 'DARTMOUTH ST',
        'E BROOKLINE ST', 'E BERKELEY ST', 'BOYLSTON ST', 'MYSTIC ST',
        'ALBANY ST', 'BELVIDERE ST'], dtype=object),
 '133': array(['NEWBURY ST', 'COMMONWEALTH AVE', 'CLARENDON ST', 'ARLINGTON ST',
        'DARTMOUTH ST', 'BERKELEY ST', 'BEACON ST', 'COLUMBUS AVE',
        'MASSACHUSETTS AVE', 'MILK ST', 'CONGRESS ST', 'CAMBRIDGE ST',
        'HARRISON AVE', 'SCHOOL ST', 'DEVONSHIRE ST', 'ESSEX ST',
        'FORSYTH ST', 'LAGRANGE ST', 'MARGINAL RD', 'GAINSBOROUGH ST',
        'SUMMER ST', 'HUNTINGTON AVE', 'BOYLSTON ST',
        'JOHN F. FITZGERALD SURFAC', 'ALBANY ST', 'STUART ST',
        'E BERKELEY ST'], dtype=object),
 '134': array(['DARTMOUTH ST', 'NEWBURY ST', 'BOYLSTON ST', 'BERKELEY ST',
        'CLARENDON ST', 'NORTHAMPTON ST', 'ARLINGTON ST', 'CAMDEN ST',
        'EXETER ST', 'RUTLAND SQ', 'FORSYTH ST', 'MASSACHUSETTS AVE',
        'KILMARNOCK ST', 'ALBANY ST', 'FIELD ST', 'COLUMBUS AVE',
        'NEW SUDBURY', 'HUNTINGTON AVE', 'BEACON ST', 'W BROOKLINE ST',
        'HARRISON AVE', 'APPLETON ST'], dtype=object),
 '135': array(['BEACON ST', 'MARLBOROUGH ST', 'EXETER ST', 'FAIRFIELD ST',
        'DARTMOUTH ST', 'BACK ST', 'GLOUCESTER ST', 'NORTHAMPTON',
        'HARRISON AVE', 'COMMONWEALTH AVE', 'E LENOX ST', 'BOYLSTON ST',
        'HUNTINGTON AVE', 'PUBLIC ALLEY NO 719', 'MASSACHUSETTS AVE',
        'COLUMBUS AVE', 'HANSON ST'], dtype=object),
 '136': array(['COMMONWEALTH AVE', 'BERKELEY ST', 'MARLBOROUGH ST',
        'CLARENDON ST', 'FAIRFIELD ST', 'EXETER ST', 'GLOUCESTER ST',
        'DARTMOUTH ST', 'BOYLSTON ST', 'HARRISON AVE', 'MASSACHUSETTS AVE',
        'BALL ST', 'ARLINGTON ST', 'ALBANY ST'], dtype=object),
 '137': array(['NEWBURY ST', 'COMMONWEALTH AVE', 'FAIRFIELD ST', 'GLOUCESTER ST',
        'EXETER ST', 'COPLEY SQ AREA', 'ALBANY ST', 'WASHINGTON ST',
        'MASSACHUSETTS AVE', 'COPLEY SQ', 'DARTMOUTH ST', 'HARRISON AVE',
        'BOYLSTON ST'], dtype=object),
 '138': array(['BOYLSTON ST', 'NEWBURY ST', 'HARRISON AVE', 'EXETER ST',
        'FAIRFIELD ST', 'GLOUCESTER ST', 'MYSTIC ST',
        'WILLIAM F MCCLELLAN HWY', 'RING RD', 'LAWNDALE ST',
        'HUNTINGTON AVE', 'LAMARTINE ST', 'PUBLIC ALLEY NO 502',
        'DARTMOUTH ST', 'CENTRE ST', 'COLUMBUS AVE', 'WALNUT AVE',
        'ALBANY ST', 'PERRY', 'HERALD ST'], dtype=object),
 '139': array(['BEACON ST', 'HEREFORD ST', 'MASSACHUSETTS AVE', 'MARLBOROUGH ST',
        'GLOUCESTER ST', 'BACK ST', 'BELVIDERE ST', 'ARLINGTON ST',
        'HUNTINGTON AVE', 'ALBANY ST', 'BALL ST'], dtype=object),
 '14': array(['SARATOGA ST', 'BENNINGTON ST', 'MOORE ST', 'CONGRESS ST',
        'HORACE ST', 'BYRON ST', 'HOMER ST', 'WORDSWORTH ST', 'COWPER ST',
        'WILLIAM F MCCLELLAN HWY', 'NEPTUNE RD'], dtype=object),
 '140': array(['GLOUCESTER ST', 'MARLBOROUGH ST', 'COMMONWEALTH AVE',
        'BELVIDERE ST', 'HEREFORD ST', 'MASSACHUSETTS AVE', 'ALBANY ST',
        'COPLEY SQ PROTECTIVE SWEE', 'W BROOKLINE ST', 'BOYLSTON ST',
        'ARLINGTON ST', 'BRIGHAM HOSPITAL', 'HERALD ST', 'HARRISON AVE'],
       dtype=object),
 '141': array(['NEWBURY ST', 'COMMONWEALTH AVE', 'HEREFORD ST',
        'MASSACHUSETTS AVE', 'GLOUCESTER ST', 'ALBANY ST', 'HARRISON AVE',
        'E LENOX ST', 'COLUMBUS AVE'], dtype=object),
 '142': array(['NEWBURY ST', 'BOYLSTON ST', 'HEREFORD ST', 'GLOUCESTER ST',
        'BEDFORD ST', 'NORTH ST', 'TREMONT ST', 'KNEELAND ST',
        'MASSACHUSETTS AVE', 'BELVIDERE ST', 'HARRISON AVE', 'MARGINAL RD',
        'BEACON ST', 'CROSS ST', 'COMMONWEALTH AVE', 'DEVONSHIRE ST',
        'BROMFIELD ST', 'STUART ST', 'E BERKELEY ST', 'ARCH ST',
        'HUNTINGTON AVE', 'BATTERY ST', 'FANEUIL HALL MARKETPLACE',
        'SCHOOL ST', 'ALBANY ST', 'PEARL', 'LENOX ST', 'ESSEX ST',
        'E NEWTON ST', 'MEDFORD ST', 'PUBLIC ALLEY NO 804'], dtype=object),
 '143': array(['BOYLSTON ST', 'HUNTINGTON AVE', 'HARCOURT ST', 'DALTON ST',
        'TREMONT ST', 'EXETER ST', 'BELVIDERE ST', 'GLOUCESTER ST',
        'BLAGDEN ST', 'RING RD', 'MASSACHUSETTS AVE', 'COMMONWEALTH AVE',
        'E LENOX ST', 'PUBLIC ALLEY NO 427', 'JERSEY ST', 'HARRISON AVE',
        'W CONCORD ST', 'ALBANY ST', 'ODAY PLAYGROUND',
        'PUBLIC ALLEY NO 437'], dtype=object),
 '144': array(['MASSACHUSETTS AVE', 'SAINT GERMAIN ST', 'BELVIDERE ST',
        'CLEARWAY ST', 'DALTON ST', 'FENWAY PARK', 'COLUMBUS AVE',
        'HUNTINGTON AVE', 'PUBLIC ALLEY NO 427', 'BEACON ST', 'HERALD ST',
        'HARRISON AVE', 'ALBANY ST', 'MYSTIC ST', 'E BERKELEY ST',
        'JERSEY ST', 'PUB ALLEY 439', 'GAINSBOROUGH ST'], dtype=object),
 '145': array(['DURHAM ST', 'SAINT BOTOLPH ST', 'MASSACHUSETTS AVE',
        'HUNTINGTON AVE', 'BLACKWOOD ST', 'ALBANY ST', 'W NEWTON ST',
        'CUMBERLAND ST', 'ALBEMARLE ST', 'ALBEMARLE CT', 'NEWTON ST',
        'FENWAY', 'E BROOKLINE ST', 'HARRISON AVE', 'CUMBERLAND',
        'COMMONWEALTH AVE', 'FAIRFIELD ST', 'BOYLSTON ST', 'DARTMOUTH ST'],
       dtype=object),
 '146': array(['GARRISON ST', 'HUNTINGTON AVE', 'W NEWTON ST', 'HARCOURT ST',
        'SAINT BOTOLPH ST', 'FOLLEN ST', 'COPLEY PL', 'HARRISON AVE',
        'CONGRESS ST', 'DARTMOUTH ST', 'TEMPLE PL', 'WASHINGTON ST',
        'BEACON ST', 'PUBLIC ALLEY NO 438', 'CLARENDON ST', 'BLOSSOM ST',
        'W CONCORD ST', 'MERRIMAC ST', 'CROSS ST', 'FRANKLIN ST',
        'BEACH ST', 'BROMFIELD ST', 'WINTER PL', 'COMMONWEALTH AVE',
        'ARLINGTON ST', 'MASSACHUSETTS AVE', 'BOYLSTON ST',
        'OLD COLONY AVE', 'ATLANTIC AVE', 'BACK ST', 'LONG'], dtype=object),
 '147': array(['MASSACHUSETTS AVE', 'WELLINGTON ST', 'COLUMBUS AVE',
        'CLAREMONT ST', 'CLAREMONT PARK', 'COMMONWEALTH AVE',
        'GREENWICH PARK', 'GLOUCESTER ST', 'WASHINGTON ST', 'BEACON ST',
        'CEMETERY RD', 'HYDE PARK AVE', 'BOYLSTON ST', 'BERKELEY ST',
        'HARRISON AVE', 'DARTMOUTH ST', 'PARK DR', 'CHESTNUT ST'],
       dtype=object),
 '148': array(['GREENWICH PARK', 'COLUMBUS AVE', 'W RUTLAND SQ', 'FORYSTH',
        'ARLINGTON ST', 'DARTMOUTH ST', 'W NEWTON ST', 'COMMONWEALTH AVE',
        'BERKELEY ST', 'BEACON ST', 'ALBANY ST', 'MASSACHUSETTS AVE',
        'W SPRINGFIELD ST', 'CLAREMONT ST', 'HARRISON AVE',
        'WASHINGTON ST'], dtype=object),
 '149': array(['W CANTON ST', 'W NEWTON ST', 'COLUMBUS AVE', 'YARMOUTH ST',
        'DARTMOUTH ST', 'BRADDOCK PARK', 'HOLYOKE ST', 'YARMOUTH PL',
        'CAMDEN', 'YAWKEE WAY', 'CARLETON ST', 'MASSACHUSETTS AVE',

In [34]:
mask = df["STREET"].isna() & df["REPORTING_AREA"].notna()

for idx in df[mask].index:
    ra = df.at[idx, "REPORTING_AREA"]
    lat = df.at[idx, "Lat"]
    lon = df.at[idx, "Long"]

    # 1 LatLong based fill
    if (
        pd.notna(lat) and
        pd.notna(lon) and
        ra in ra_street_coords.index.get_level_values(0)
    ):
        sub = ra_street_coords.loc[ra]

        distances = np.sqrt(
            (sub["Lat"] - lat) ** 2 +
            (sub["Long"] - lon) ** 2
        )

        df.at[idx, "STREET"] = distances.idxmin()

    # 2 Random fallback
    elif ra in ra_to_street:
        df.at[idx, "STREET"] = np.random.choice(ra_to_street[ra])

In [35]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1684
REPORTING_AREA         1653
OCCURRED_ON_DATE          0
STREET                  908
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [36]:
SLLR = {
    i: df[
        (df["STREET"] == i) &
        df["Lat"].notna() &
        df["Long"].notna()
    ][["Lat", "Long"]]
    .drop_duplicates()
    .values
    .tolist()
    for i in df[df["STREET"].notna()]["STREET"].unique().tolist()
}

In [37]:

for street, coords in SLLR.items():
    if len(coords) > 0:
        lat, lon = coords[np.random.randint(len(coords))]

        df.loc[
            (df["STREET"] == street) &
            df["Lat"].isna() &
            df["Long"].isna(),
            ["Lat", "Long"]
        ] = [lat, lon]

In [38]:
df.isna().sum()

INCIDENT_NUMBER          0
OFFENSE_CODE             0
OFFENSE_CODE_GROUP       0
DISTRICT              1684
REPORTING_AREA        1653
OCCURRED_ON_DATE         0
STREET                 908
Lat                   1374
Long                  1374
NAME                     0
dtype: int64

In [39]:
df.shape

(313605, 10)

In [40]:
df.isna().any(axis=1).sum()

2867

In [41]:
df.to_csv("check.csv", index=False)

In [42]:
exact_null_counts = df.isna().sum(axis=1).value_counts().sort_index()
exact_null_counts

0    310738
1        28
2      1821
3       830
4       107
5        81
Name: count, dtype: int64

In [43]:
two_na_rows = df[df.isna().sum(axis=1) == 2]
two_na_rows.isna().sum()

INCIDENT_NUMBER          0
OFFENSE_CODE             0
OFFENSE_CODE_GROUP       0
DISTRICT               638
REPORTING_AREA         638
OCCURRED_ON_DATE         0
STREET                   0
Lat                   1183
Long                  1183
NAME                     0
dtype: int64

In [44]:
two_na_rows

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
83,I182067167,619,Larceny,D4,628,22-08-2018 12:20,PUBLIC ALLEY NO 543,NaN,NaN,LARCENY OTHER $200 & OVER
120,I182064814,619,Larceny,NaN,NaN,25-07-2018 08:00,MARION,-1.000000,-1.000000,LARCENY OTHER $200 & OVER
203,I182060852,619,Larceny,NaN,NaN,18-03-2018 13:00,WHEATLAND,-1.000000,-1.000000,LARCENY OTHER $200 & OVER
205,I182060813,619,Larceny,NaN,NaN,01-08-2018 11:00,BROADWAY,42.385841,-71.077591,LARCENY OTHER $200 & OVER
214,I182060475,619,Larceny,NaN,NaN,07-05-2018 00:00,BARROWS,-1.000000,-1.000000,LARCENY OTHER $200 & OVER
...,...,...,...,...,...,...,...,...,...,...
313238,I162032721,2611,Other,B2,320,26-04-2016 18:00,BURKSHIRE ST,NaN,NaN,ABDUCTION - INTICING
313367,I162016365,2004,Offenses Against Child / Family,C6,958,01-03-2016 11:34,PUMPHOUSE RD,NaN,NaN,CHILD ABANDONMENT (NO ASSAULT)
313429,I162030024,3029,Prisoner Related Incidents,E13,236,18-04-2016 11:54,E13,NaN,NaN,PRISONER - SUICIDE / SUICIDE ATTEMPT
313491,I172094732,1601,Prostitution,C11,360,13-11-2017 03:39,ADAMS TERRACE WAY,NaN,NaN,PROSTITUTION
313600,I130126035-00,338,Robbery,C11,252,09-02-2016 13:55,SAVIN HILL AV,NaN,NaN,ROBBERY - UNARMED - RESIDENCE

In [45]:
((df["Lat"] == -1) & (df["Long"] == -1)).sum()

985

In [46]:
df["Lat"] = df["Lat"].replace(-1, np.nan)
df["Long"] = df["Long"].replace(-1, np.nan)

In [47]:
((df["Lat"] == -1) & (df["Long"] == -1)).sum()

0

In [48]:
df.dropna(inplace=True)

In [56]:
df["OCCURRED_ON_DATE"] = pd.to_datetime(
    df["OCCURRED_ON_DATE"],
    format="%d-%m-%Y %H:%M",
    errors="coerce"
)

In [58]:
df.to_csv("crime_cleaned.csv", index=False)

In [50]:
# date chng format
# floium ,ploty,giopandas,basemap,scatterplot(basic h iska ye ) matplot libs

In [57]:
df["OCCURRED_ON_DATE"].dtype

dtype('<M8[ns]')

In [51]:
# hr dist ka highest crime 
# hr area ka hights crime
# hr dis ke hr rep area ka h c
# hr dis ke hr rep area crime count
# hr area ka crime ka count
# hr dist ka  crime k count
# hr crime konse dist mai svhse jda hua h uska count top 20
#  hr crime konse rp mai highest hua h
# 
# hr crime konse street mai svhse jda hua h top 20
# p chart kinte % log ne 1 br kiya h aur kinto ne jda
# konsa crime kis time mai svhse jda occr hua h
# hfte ke hr dun pe crime kitne comit hue h
# sccatter plot lat,long based ,mpa plot lat ,long based
# top 5 crime konse top 5 street mai comit hue h same for dist ,rep area
# hr month ke hr din mai kitne cirme comit hue hw
# hr district ke hr month ke hr din mai 
# hr hafte ke hr time mai ki